[2017-05-29 09:10] mickaelistria opened #1 "Publish the LS to npm repository"
In order to more easily reuse it in other IDEs, it would be great to publish the k8s language-server as an npm module.

[2017-05-29 11:57] mickaelistria opened #2 "An option to communicate with LS over stdio"
In the case of integration with other IDEs (such as Eclipse IDE), stdio is simpler than IPC and sufficient. Please provde an option to use stdio.

[2017-05-29 13:34] mickaelistria opened #4 "How to build the language server?"
I'm trying to hack around the LS and I'm currently stuck with how to build it. It seems to me that the build instructions are only working in the scope of VSCode and that a basic `npm install` on the source isn't enough to get the .js files generated from the .ts ones. I also tries a simple `tsc` but got no js generated.
What's the process to get those .ts file compiled?

[2017-06-06 08:00] mickaelistria commented on #4
@gorkem any hint?

[2017-06-08 18:00] mickaelistria commented on #4
Got an answer by email:

[2017-06-08 18:16] mickaelistria opened #5 "Error with language server"
Just after a `cd server; npm install; npm run compile; cd ../client/server`, I try to connect to the language server from Eclipse IDE. On opening an empty `dummy.k8s` file, I see:

[code]

[2017-06-08 18:19] mickaelistria commented on #5
Seems like that some of the necessary node_modules are not copied during `npm run compile`.

[2017-06-08 18:32] mickaelistria commented on #5
Ignore my previous comment, it's not useful. What's strange is that I can actually see YAMLDocument interface in index.ts, but not in the index.js from the same node_module...

[2017-06-08 19:23] JPinkney commented on #5
I found that issue earlier and fixed it my fork already! This repo isn't currently being worked on so anything in this repo was here before I started working on it ~2 weeks ago. I'm currently working on my fork https://github.com/JPinkney/vscode-k8s and will do a pull request when both validation and auto completion are finished (should be soon). Both are working but there's a couple bugs in the o

[2017-06-08 19:25] mickaelistria commented on #5
Thanks for the info @JPinkney , much appreciated! I will probably give a try to your fork soon. Should I open PRs against your fork (for example for #3) ?

[2017-06-08 19:30] JPinkney commented on #5
You can if you'd like and then everything from my fork will be pushed into this repository eventually. I'll go ahead and merge #3 though and then bring it into my repo!

[2017-06-10 09:08] jstrachan opened #7 "completion/validation on kind"
I thought completion wasn't working on metadata's name/labels/annotations etc
![foo_yml_-_fabric8-team-components](https://user-images.githubusercontent.com/30140/27001555-b2326146-4dc4-11e7-8bf7-5971e6afb17d.png)
 turns out I'd made a typo in the `kind` but the LSP didn't warn me or offer completion

[2017-06-10 09:08] jstrachan commented on #7
DOH - spot the obvious mistake on the kind :) I guess completion on kind would be good too

[2017-06-10 09:13] jstrachan opened #8 "add new Command for `add Environment variable` to Deployment / DeploymentConfig"
which would then add this to the YAML file (creating any missing structs along the way)...
[code]

[2017-06-10 09:17] jstrachan opened #9 "add a few Commands to create new files (e.g. Deployment, DeploymentConfig, Service, Route, ConfigMap, PVC)"
It'd be nice to have a little 'new kubernetes file' wizard that lets you pick from these kinds:

* Deployment
* DeploymentConfig
* Service
* Route
* ConfigMap
* PVC

then we could pre-fill in a few values (e.g. the `metadata.name` could default to the file name (without the `.yml` extension).

e.g. the generated Deployment might look like:
[code]

[2017-06-10 14:31] JPinkney commented on #7
Hi! I've looked into this and this actually has more to do with the default VS code settings then it does the extension. For some reason by default in the user settings under editor, editor.quickSuggestions is false for strings and thats whats needed in order for autocompletion to work. When editor.quickSuggestions string is set to true this is what you should see:

![kind autocomplete](http://i.i

[2017-06-12 14:07] jstrachan commented on #7
Also there's no completion for the values of `kind` which should autocomplete all the known kinds like `Deployment`, `Secret` etc etc

[2017-06-14 15:40] gorkem opened #11 "Error on code completion"
I am getting the below error sporadically when invoking codeCompletion

[code]

[2017-06-14 17:41] JPinkney commented on #11
Do you have an examples of the files you were trying to code complete? I'll look into it

[2017-06-15 23:39] mickaelistria commented on #2
https://github.com/gorkem/vscode-k8s/commit/8379a71c68e21ac4be790381aeefb2b275957e57 was merged. Thanks @JPinkney !

[2017-06-15 23:39] #2 closed

[2017-06-15 23:40] mickaelistria commented on #5
@JPinkney is this fix on the master branch of this repo? If so, can we close this issue?

[2017-06-15 23:41] mickaelistria opened #12 "How does the LS decide which yml file to care about?"
At the moment, it seems like the Language Server and the VSCode extension tries to process any `.yml` file. However, there are many `.yml` files that are not necessarily using the k8s schema. Does the language make a difference? If yes, what's the trigger?

[2017-06-16 02:23] JPinkney commented on #5
Yes, this would have been fixed when I merged a bunch of my patches a couple of days ago, I'll close it

[2017-06-16 02:23] #5 closed

[2017-06-16 02:34] JPinkney commented on #12
I've added this to the master branch on my repo but I haven't merged it here yet because I want to do some additional testing. I've added a setting called "k8s.glob" and then you use that to choose which files you want to use with the language server via a glob pattern

[2017-06-16 09:27] mickaelistria commented on #12
So it would be based on filename patterns? or on content patterns?

[2017-06-16 12:00] JPinkney commented on #12
Currently filename patterns

[2017-06-17 20:11] mickaelistria commented on #12
Ok, thanks for the answer. And which patterns are used? Are all users using
the same name patterns?
If not, I believe it would be interesting to try some "content detection",
ie if a yaml file has a few nodes that seem typically k8s, we enable the
k8s-ls, otherwise we ignore.
WDYT?

[2017-06-17 20:33] JPinkney commented on #12
Currently its using https://www.npmjs.com/package/glob and by default the pattern is **/*.yaml (should also be **/*.yml as well but I haven't added that yet). I think using this node module allows for a lot of flexibility for file pattern matching but I can also talk to Gorkem and see if its a possibility to add content detection. The only problem I can foresee with that is if we get false positiv

[2017-06-17 20:39] mickaelistria commented on #12
In general, users don't like to have choice too early; they prefer having
decent default settings and then tweak them progressively as they use the
tool.
If LS shows some diagnostic on a file that has risks of not being a valid
target, it could create a "disable k8s checks" quickfix to instruct the LS
to ignore the file. However, for the other way round (instruct the LS to
cover a specific file),

[2017-06-17 20:48] JPinkney commented on #12
I agree, I could look into doing some smart detection and try and figure out how I could accomplish that. In the case of covering a specific file I think I could still utilize the already defined setting for that as an option but I'll have to look into it more because I think it might be really inconvenient for a user to have to add a bunch of files into the setting.

[2017-06-18 13:57] gorkem opened #16 "creationTimestamp validation incorrect"
When I have a value such as
`creationTimestamp: 2017-06-14T14:29:37Z` it is reported as incorrect value type. I think we need better handling of date type.

[2017-06-18 14:52] JPinkney commented on #16
I'm going to be re-writing the validator most likely today to make it more stable. I'll add this to the list of things I'll need to fix in it.

[2017-06-19 18:26] gorkem commented on #12
I think opt-out makes more sense for this extension let's do the "disable k8s checks" quickfix/settings

[2017-06-19 18:30] gorkem opened #17 "More details on the model diagnostics"
We need more details displayed on diagnostics for model that can hint users on how to fix the issue. We should add the name of the node for instance when we signal an incorrect child node. Another one is the possible scalar types in the case of a scalar value mismatch.

[2017-06-22 13:33] JPinkney commented on #17
I've added a lot more diagnostic messages telling the user what needs to be fixed and I also differentiated between error message and warning messages

[2017-06-22 13:33] #17 closed

[2017-06-22 14:48] JPinkney commented on #9
I've added this in the newest release. Let me know if there are other lines you would like to have snippets for and if the current ones have the fields you would like!

[2017-06-22 14:48] JPinkney commented on #7
I've added this this in the newest release!

[2017-06-22 14:48] #7 closed

[2017-06-22 14:51] jstrachan opened #21 "publish to the LSP plugin registry thingy so that its easy to install/upgrade via VS Code directly"
lets make a real release so its super easy for folks to find this excellent plugin and install/upgrade from VS Code

[2017-06-22 14:53] JPinkney commented on #16
I think this is more the schema file needs to be changed then the validator.

[code]

That is all the information I have for creationTimestamp and it would be hard to know that's supposed to be a timestamp unless we either:
1. Checked to see if "Timestamp" is in the name and if it is then validate it like a timestamp
2. Make a custom rule for it

[2017-06-22 14:55] JPinkney commented on #12
I've added this feature in the newest release. To deactivate you need to click F1 then disable kubernetes validation on this file and activate is F1 then enable kubernetes validation on this file. By default the validation is on!

[2017-06-23 08:47] mickaelistria commented on #12
Is this supposed to work in other editors/ides such as Eclipse IDE?

[2017-06-23 13:40] JPinkney commented on #12
We want to make this as compatible with as many IDE's as possible. I'm not sure how to build the language server and run it in eclipse so I'm not able to test on it. If eclipse doesn't support this I can make an official keybinding if that would work better? (Its just adding a few lines of code) or is there any other ways you know of in eclipse that might work better?

[2017-06-23 13:43] gorkem commented on #12
I think this is using the `didChangeConfiguration` event so any client that hooks into config changes should be fine

[2017-06-26 16:11] JPinkney commented on #5
Is the issue at the same line again? Or is it at line 176? I did another call to the yamlLoader at 176 and didn't check for undefined there.

[2017-06-26 16:15] mickaelistria commented on #5
line 109 again

[2017-06-26 16:18] JPinkney commented on #5
Hmm line 109 in the current version is "interface filesToIgnore {" so i'm not sure how that can have any effect on it. Line 156 is the start of the validation function where it was happening before. I'll look into it more

[2017-06-26 16:20] mickaelistria commented on #5
Your previous answer put me on the right track: it was my local strategy to fetch the LS which was relying on an out-of-date cache. I could upgrade and will open separate issues if necessary, now I'm using the right code.
Sorry about the noise.

[2017-06-26 18:06] mickaelistria opened #22 ""Cannot read property 'indexOf' of undefined""
From Eclipse IDE, connecting to Language Server, I see

[code]

Any hint?

[2017-06-26 19:10] JPinkney commented on #22
It looks like it has something to do with the autocompletion section indexOf was called twice to filter out duplicate nodes. Can you paste the contents of the file by any chance?

[2017-06-26 19:16] mickaelistria commented on #22
Sure I can: `` it's an empty file.

[2017-06-26 19:43] JPinkney commented on #22
Interesting. When I try it in VS code no errors show up. Also the findNode thats called in yamlCompletion returns undefined (which it should) which then leads into autoCompletor.searchAll() which has no indexOf. I'll look into it more.

[2017-06-26 19:45] mickaelistria commented on #22
Do you think it could be related to the nodejs version or something like
this? Is there a way to trigger more verbose error message on the server?

[2017-06-26 19:54] JPinkney commented on #22
I'm currently running this on node v6.10.3 at work (just for reference) and I'm not sure yet if there's any way to set more verbose messages but I'll look into it.

[2017-06-26 20:34] gorkem commented on #21
That is the plan. Only a few more things to rake care of.

[2017-06-26 20:37] gorkem opened #23 "document the available configuration options"

[2017-06-27 04:45] gorkem opened #24 "Outline support"
Support for document outlining [cmd+Shift+O] and navigating the yaml.

[2017-06-27 04:45] gorkem opened #25 "Hover support"
When a property is hovered it should show its documentation

[2017-06-27 04:55] gorkem opened #26 "Rename references to snippit to snippet"
Snippets are referenced as snippits.

[2017-06-27 05:03] gorkem commented on #16
JSON Schema does not have a date type. I think the `format` field with `date-time` as value can be a way to express this via a schema.

[2017-06-27 05:04] gorkem opened #27 "Documentation for code completions"
Display documentation for a property during code completions

[2017-06-27 07:45] mickaelistria commented on #22
Might be `filesToIgnore` that's null. Is there some additional message to send to server after the `initialize` one to make it work?

[2017-06-27 14:24] JPinkney commented on #22
You are right. I'm pretty sure I've narrowed down the issue. The k8s.filesNotValidating that the filesToIgnore pulls from is set in the client package.json not the server. I'm guessing because you are testing it with eclipse you don't need the client? (let me know about this) and thus the k8s.filesNotValidating is not being set. I'll make note of this in my own branch!

[2017-06-27 14:26] mickaelistria commented on #22
Right, from Eclipse IDE, I start the Language Server from command-line as a separate process (`node vscode-k8s/client/server/src/server.js --stdio`). I have no other way to interact with it than with the LSP operations over the streams.

[2017-06-27 15:10] JPinkney commented on #22
At least I know whats causing the issue now and can fix that!

[2017-06-28 19:39] JPinkney opened #29 "Don't show two errors when under a node with additional property enabled"
e.g.
[code]
openshift/node: string should only have the error about labels having additional properties enabled

[2017-06-29 13:42] JPinkney commented on #22
I was able to reproduce this in eclipse. The issue has been fixed in the newest release and has not happen for me in eclipse again. Let me know if its fixed from your end!

[2017-06-29 13:58] JPinkney commented on #24
Added in 4b0ed76

[2017-06-29 14:00] JPinkney commented on #26
Added in 4b0ed76

[2017-06-29 14:00] #26 closed

[2017-06-29 14:01] #9 closed

[2017-06-29 14:31] mickaelistria commented on #22
Thanks a lot Josh! I tried the new version on master and I could see all the nice features of this LS enabled and run everything just like it happens on the Gif video on VSCode.
So I'm definitely happy with it.
Note for self: commit https://github.com/gorkem/vscode-k8s/commit/4b0ed762c0ed7821823a972099ad165048d5df01 is good for demo in Eclipse IDE.

[2017-06-29 14:31] #22 closed

[2017-06-29 15:31] JPinkney commented on #24
Need to fix:
- Make it work like the JSON document outline

[2017-07-07 19:47] #29 closed

[2017-07-10 18:52] #8 closed

[2017-07-10 18:53] #23 closed

[2017-07-10 18:54] JPinkney commented on #27
This is currently working for some nodes such as
[code]
This is restricted by the current schema

[2017-07-10 18:58] JPinkney commented on #25
This is currently working for some nodes such as
[code]
We can hover over name and it works but its restricted by the current schema.

When the schema is fixed we will have to test this to make sure its working so i'll keep this issue open

[2017-10-02 12:53] schickling commented on #21
Any progress on this?

[2017-10-02 12:56] gorkem commented on #21
Should happen this week. Still missing an icon :)

[2017-10-02 12:56] gorkem commented on #1
published https://www.npmjs.com/package/yaml-language-server

[2017-10-02 12:56] #1 closed

[2017-10-02 12:59] schickling opened #34 "Add more documentation"
This plugin seems very promising! Would be great to have more documentation around the usage & installation in the readme.

[2017-10-02 13:02] schickling opened #35 "Consider collaborating/merging with `adamvoss/vscode-yaml`"
There seems to be a related project: https://github.com/adamvoss/vscode-yaml

Are there any plans to collaborate or even merge the projects together? Neither project seems to be ready for "prime-time" so it would be great if efforts could be joined 👍

[2017-10-02 19:43] JPinkney commented on #35
Hi, at the current moment we have integrated Adam's https://github.com/adamvoss/vscode-yaml-languageservice in our project and have been in talks with Adam! AFAIK he isn't going to be doing much maintenance on the vscode-yaml-languageservice once this extension is released. Ours functions very similar to his already (due to some reliance on his awesome language service!) but has a few extra featur

[2017-10-02 22:13] JPinkney commented on #34
I've added more documentation around the usage and installation in the readme in ab673602760d339816b2f4d5dcd28c935be589bd. Let me know if theres anything specifically that you'd like me to add!

[2017-10-03 06:08] schickling commented on #34
I think it would be great if the language service server had a concrete example URL and mention that it supports schemastore out of the box.

Other than that it’s great!

[2017-10-05 00:12] egamma opened #37 "Consider providing a 'yamlValidation' contribution point for registering a schema"
Such a contribution point enables an extension author to contribute a YAML schema association same as is done for JSON and its `jsonValidation` contribution point.

https://code.visualstudio.com/docs/extensionAPI/extension-points#_contributesjsonvalidation

The corresponding code in the JSON extension for this can be found here:
https://github.com/Microsoft/vscode/blob/master/extensions/json/clien

[2017-10-05 17:43] #34 closed

[2017-10-05 17:44] JPinkney commented on #21
@schickling We are now officially published! https://marketplace.visualstudio.com/items?itemName=redhat.vscode-yaml

[2017-10-05 17:44] #21 closed

[2017-10-05 17:44] #4 closed

[2017-10-05 17:44] #35 closed

[2017-10-05 17:52] #11 closed

[2017-10-05 17:53] JPinkney commented on #37
Added in 9fdaa7f62f336def2d425f33ff6599db09c80f28!

[2017-10-05 17:53] #37 closed

[2017-10-05 18:16] egamma commented on #37
nice!

[2017-10-05 21:28] schickling opened #38 "Auto-completion on sub-objects doesn't work"
First of all: Thanks a lot for your awesome progress on this plugin today!

I've just tried it and it seems to work well on the root level. However, auto-completion doesn't seem to work on a sub-level. Here is an example:

[code]

[2017-10-06 02:08] JPinkney commented on #38
Out of curiosity is sub_field a child node of some_dynamic_key and some_dynamic_key a child node of my_other_root_field? If this is the case then it looks to be a bug. The autocompletion was built to be context dependent so as long as some_dynamic_key is a child of my_other_root_field then it should autocomplete with sub_field.

Heres a demo of how it should behave:
![out](https://user-images.gith

[2017-10-06 08:45] schickling commented on #38
What you've posted seems to work for me but here is what doesn't work for me:

[code]

![do-25](https://user-images.githubusercontent.com/1567498/31270159-7e92983a-aa83-11e7-9175-60dc8e68445f.gif)

[2017-10-06 14:05] JPinkney commented on #38
At the current time the auto completion is context dependent only. Since some_name isn't a child of functions we won't be able to autocomplete anything under some_name. Additionally, auto completion is provided for results that are valid according to the schema, since some_name isn't valid in the schema as far as I can see it wouldn't autocomplete on that either.

[2017-10-06 14:18] schickling commented on #38
I'm not sure why you think it's not valid? As you can see [here in the definition](https://github.com/graphcool/graphcool-json-schema/blob/master/src/schema.json#L147) `functions` is of `type: object` which should allow for arbitrary keys. The values however are of type: `#/definitions/function`.

So either we've misunderstood JSON schema or this seems like something this plugin should support 🙂

[2017-10-06 16:34] gorkem commented on #37
@JPinkney can you also add some documentation for it ?

[2017-10-06 16:35] gorkem commented on #12
closing this one if anything specific to LS needs to be done please report there.

[2017-10-06 16:35] #12 closed

[2017-10-06 17:09] JPinkney commented on #37
@gorkem Yes, i'll do that now

[2017-10-06 17:16] JPinkney commented on #38
I'm working on adding this now. I think I was just confused as I haven't seen that before

[2017-10-07 14:47] nikolasburk commented on #27
Is there any progress on this one? :)

[2017-10-07 14:51] schickling commented on #27
Yeah, would be great if this would be support since this [worked in the "old" yaml plugin](https://github.com/adamvoss/vscode-yaml).

[2017-10-07 14:52] schickling commented on #38
It's awesome that you're working on this. Is there any rough eta?

[2017-10-07 14:52] schickling commented on #25
That would be great!

[2017-10-07 16:48] JPinkney commented on #38
It should be ready in the next few days!

[2017-10-16 18:13] JPinkney commented on #38
@schickling We just updated the extension with a brand new autocompletor! It now fixes this issue and does autocompletion on values in the schema as well!

[2017-10-16 18:13] #38 closed

[2017-10-16 18:14] JPinkney commented on #27
@nikolasburk @schickling Added in the newest version of the extension!

[2017-10-16 18:14] #27 closed

[2017-10-16 18:14] JPinkney commented on #25
In the newest version of the extension as long as its provided by the schema!

[2017-10-16 18:15] #25 closed

[2017-10-16 19:00] schickling opened #39 "Autocompletion doesn't work for new list item"
Great work on the recent updates and fixes!

I've just discovered another issue when creating a new list item, then the auto-completion just works when writing out the second field:

![do-25](https://user-images.githubusercontent.com/1567498/31629792-ffb956f4-b2b4-11e7-85f6-f120fef6f125.gif)

[2017-10-27 12:54] popstas opened #40 "Allow any boolean notation"
As described in [docs](http://yaml.org/type/bool.html):
[code]

[2017-10-30 20:11] JPinkney commented on #39
Hi, we've just re-released our extension with a fix for this!

[2017-10-30 20:11] #39 closed

[2017-10-30 20:12] JPinkney commented on #40
Hi, we've just re-released our extension with a fix for this!

[2017-10-30 20:12] #40 closed

[2017-10-30 20:27] JPinkney opened #41 "Add changelog for each release"

[2017-11-02 08:14] vojtechhabarta opened #42 "Schema validation reports errors in valid YAML document"
I have rather complex JSON schema with which YAML plugin doesn't work correctly. It reports errors in valid YAML document. But when I use this schema with equivalent JSON document it works correctly.

I tried to simplify the schema and narrow the problem but it is still long and complex because the problem is in some combination of schema constructs.

I have vscode-yaml 0.0.4 with VSCode insider b

[2017-11-02 13:59] JPinkney commented on #42
I've narrowed this down to a regression in redhat-developer/yaml-language-server@2a8456a7e2e319aece0f9d05e5af087450cedf63 inside the jsonParser. I'm currently working on fixing this!

[2017-11-09 10:09] felixfbecker commented on #42
I think I'm meeting the same issue. I have a schema for a .travis.yml that defines the type of e.g. `before_install` as `oneOf` `boolean`, `string` or `array` of `string`s:

https://github.com/felixfbecker/schemastore/blob/2a32ed0e3eab265b9a82f0b2dbcd1046eab85bde/src/schemas/json/travis.json#L15-L28

But the inside VS Code I get the validation error that `boolean` is expected (and not string array

[2017-11-09 14:18] JPinkney commented on #42
I believe this is the same issue. I have a fix for it we just need to release the extension again for the update!

[2017-11-09 17:29] felixfbecker commented on #42
@JPinkney to make these releases automatic, would you interested in a [semantic-release](https://github.com/semantic-release/semantic-release) auto-release workflow? I set that up for [php-language-server](https://github.com/felixfbecker/php-language-server) and [vscode-php-intellisense](https://github.com/felixfbecker/vscode-php-intellisense) and it works very well

[2017-11-13 19:27] ahmetb opened #43 "Support for multiple YAML documents in single file"
Some of my Kubernetes yaml files are in form of:

[code]

it looks like the autocomplete/<kbd>Ctrl</kbd>+<kbd>space</kbd> is not working when there are multiple objects in a single yaml file.

Should this be supported?

[2017-11-14 21:15] nglara opened #44 "Other Schemas are being ignored"
Hi,

I came to a point where I needed to create multiple schemas for each group of my YAML files. I'm not sure if this is an issue but I could not find a way to make the extension use my schemas to validate my YAML files. I got 2 types of files and each of them has it's own schema.

Here is my scenario:

**In my settings.json:**

    "yaml.schemas": {
        "./transport.schema.json": "/*.transpo

[2017-11-14 21:34] JPinkney commented on #44
Hi! I've just fixed this in the latest release.

[2017-11-14 21:34] #44 closed

[2017-11-14 21:35] JPinkney commented on #43
Hi! I've fixed this in the latest release, all features now work when you have multiple YAML documents in a single file

[2017-11-14 21:36] JPinkney commented on #42
Hi, I've fixed this issue! It's now available in the latest release!

[2017-11-14 21:36] #42 closed

[2017-11-14 21:36] felixfbecker commented on #42
@JPinkney awesome! Did you read my comment above?

[2017-11-14 21:44] JPinkney commented on #41
Changelog added since 0.0.5

[2017-11-14 21:44] #41 closed

[2017-11-14 22:17] nglara commented on #44
That is fast! Thank you.

[2017-11-18 09:34] vojtechhabarta commented on #42
@JPinkney thanks, with latest release my schema works as expected.

BTW the schema is here: https://github.com/vojtechhabarta/heat-template-schema/blob/master/schema/heat-template.schema.json - it is generated schema for OpenStack Heat Orchestration Templates.

[2017-11-18 09:39] felixfbecker commented on #42
@vojtechhabarta I would encourage you to contribute it to jsonschemastore :)

[2017-11-22 21:41] fbricon opened #45 "Appveyor autocomplete is missing a lot of fields"
With this schema:
[code]
Autocompletion only returns a handful of choices:
<img width="530" alt="screen shot 2017-11-22 at 4 38 20 pm" src="https://user-images.githubusercontent.com/148698/33150921-b719d156-cfa3-11e7-8aaf-0b8b60762192.png">

compared to what http://json.schemastore.org/appveyor defines. It seems only the content of the `allOf` node is returned.

[2017-11-22 22:00] fbricon opened #46 "Autocompletion not triggered while typing"
Currently, autocompletion is only triggered when doing `ctrl+space`. I'm used to being spoiled by VS Code, which triggers autocompletion on each keystroke (see Java)

[2017-11-23 00:55] JPinkney commented on #45
The language server only uses properties/anyOf/allOf to generate autocompletion results. However, I think there is a bug in this language server and the json language server because image/init/clone_folder etc should be shown via "$ref": "#/definitions/job" as well. For some reason its returning the only the first result in the allOf.

[2017-11-24 16:40] nglara opened #48 "Does not seem to validate objects that are part of an array property"
Hi, I have been testing this but could not make it to work. I designed my schema to have locations (array) and each location has Sequence and Address.

The extension does not seem to validate the Address object against my schema. I have 2 issues.

1. The Sequence property must be a numeric but it allows me to put string.
2. Under my Address object, I set the **additionalProperties** to false but i

[2017-11-24 17:17] JPinkney commented on #48
Hi, I've investigated the issue and it looks like its because the schema does not comply with the [jsonschema specification](http://json-schema.org/latest/json-schema-validation.html#rfc.section.6.4). I've done a [gist](https://gist.githubusercontent.com/JPinkney/834c1cc02617f80bc8ec06cb326cf00a/raw/42bf18cf71cc64e024ac357961e5bd1b0d98179f/temp-schema.json) that meets the jsonschema specification

[2017-11-24 21:07] nglara commented on #48
My bad. I totally did not pay attention to that "items" property. Thank you for your help.

[2017-11-24 21:07] #48 closed

[2017-11-30 17:17] SteveCurran opened #49 "Hover does not work with kubernetes yaml"
I maybe missing something. Does the language server alone support descriptions on hovering or is there something else I need?

[2017-11-30 17:33] JPinkney commented on #49
In the case of the kubernetes yaml, unfourtunately there isn't yet hover descriptions for that schema. The schema is generated using [this](https://github.com/fabric8io/kubernetes-model) and that outputs [this generated schema](http://central.maven.org/maven2/io/fabric8/kubernetes-model/2.0.0/kubernetes-model-2.0.0-schema.json). Once the schema has the description field filled out then hover suppo

[2017-12-03 23:33] felixfbecker opened #50 "Cannot set yaml.schemas if using multi-root workspaces"
![image](https://user-images.githubusercontent.com/10532611/33531265-556dd1a6-d83f-11e7-9c81-0747d515593d.png)

[2017-12-07 11:08] Dominik-K opened #51 "False CircleCI validation on `setup_remote_docker` step with subelements"
Suddenly your extension supports CircleCI's `config.yml`. Pretty good 👍

I found this false validation error:

![vscode_circleci-validation_error](https://user-images.githubusercontent.com/5795847/33712444-c9d1f634-db47-11e7-8fab-663c15607af2.png)

(for search: `setup_remote_docker` step is red underlined if subelements are added. Hint shows: `Value is not accepted. Valid values: "checkout", "setu

[2017-12-07 14:37] gorkem commented on #51
We use [schemasore](http://schemastore.org/json/) to automatically resolve json schemas whenever we can. You can report or fix this on [schemastore repo](https://github.com/schemastore/schemastore/)

[2017-12-07 16:56] Dominik-K commented on #51
@gorkem Thanks for your fast answer.

[2017-12-24 15:34] will-l-h opened #52 "Yaml Support server crashed 5 times in the last 3 minutes."
I'm getting a prompt at the top of VS Code, "The Yaml Support server crashed 5 times in the last 3 minutes. The server will not be restarted." if my yaml file contains an include, e.g.

`  customize: !include customize.yaml`

Here's the output from the Yaml Support pane:

Unsupported feature, node kind: 5
C:\Users\willh\.vscode\extensions\redhat.vscode-yaml-0.0.7\node_modules\yaml-language-server\

[2018-01-16 05:03] akaroml opened #54 "Validation does not work with kubernetes yaml"
Settings:
[code]
pod.yaml:
[code]
Result:
![image](https://user-images.githubusercontent.com/16755094/34972606-8c9a12b6-fabd-11e7-97f3-f06241f22ca9.png)

Expected result:
![image](https://user-images.githubusercontent.com/16755094/34972615-97885bc4-fabd-11e7-90c8-dd3f0748f52f.png)

[2018-01-16 05:06] akaroml opened #55 "Auto-completion does not work with Kubernetes YAML files"
Settings:
[code]
pod.yaml:
[code]
Result:
![image](https://user-images.githubusercontent.com/16755094/34972669-01bb6c84-fabe-11e7-8c4e-faefd0575a93.png)

Expected result:
![image](https://user-images.githubusercontent.com/16755094/34972677-15527a76-fabe-11e7-953d-b82f13db4689.png)

[2018-01-16 15:21] JPinkney commented on #55
I believe this is actually a schema issue from the schema generated via https://github.com/fabric8io/kubernetes-model.

[2018-01-16 15:27] JPinkney commented on #54
I believe this is actually a schema issue from the schema generated via https://github.com/fabric8io/kubernetes-model. Because the "additionalProperties" field is always true in the schema [1] it interprets "specs" as additional and thus not validating.

[1] - http://central.maven.org/maven2/io/fabric8/kubernetes-model/2.0.0/kubernetes-model-2.0.0-schema.json

[2018-01-17 14:55] Deilan opened #56 "Ignore yarn.lock files"
Add a support for [yarn lockfile v1](https://yarnpkg.com/lang/en/docs/yarn-lock/).

Currently an opened `yarn.lock` file looks like this:

![image](https://user-images.githubusercontent.com/4777512/35048932-908ed35a-fbaf-11e7-98eb-20763c3f2ea4.png)

[2018-01-18 18:02] JPinkney commented on #56
It looks like yarn is semi-yaml but not quite fully but I could be wrong because those look like errors thrown by https://github.com/mulesoft-labs/yaml-ast-parser

[2018-01-19 10:07] Deilan opened #59 "Support Travis CI file"
Currently there's a red squiggle for a valid `.travis.yml` fragment:

![image](https://user-images.githubusercontent.com/4777512/35145452-e7cd3bd8-fd18-11e7-9937-1ce7b73ed32d.png)

With a tooltip:

![image](https://user-images.githubusercontent.com/4777512/35145459-f43c1588-fd18-11e7-844f-09bbd40d2ad4.png)

According to [the docs](https://docs.travis-ci.com/user/chrome) it's valid though.

Not sur

[2018-01-19 15:21] JPinkney commented on #59
The .travis.yml schema is pulled in from https://github.com/SchemaStore/schemastore. I believe it was handcrafted by one contributor so it may still need a few tweaks. I'll look into it and then do a PR on that side.

[2018-01-22 21:14] JPinkney commented on #50
Should be fixed as of our 0.0.8 release!

[2018-01-22 21:14] #50 closed

[2018-01-22 21:14] JPinkney commented on #52
Should be fixed as of our 0.0.8 release!

[2018-01-22 21:14] #52 closed

[2018-01-24 15:25] will-l-h commented on #52
Works great, thanks @JPinkney

[2018-01-31 20:13] rylnd opened #60 "Support for anchors/references?"
Hi! First, thanks for the great plugin.

I'm having an issue with validations not respecting injected references. For example, in a Circle CI 2.0 config file, I've got the `docker` key in a reference:

[code]
and then use it later in a job:
[code]
However, I still receive a `Missing property "docker".` message on the `job1` node.

Is this the expected behavior? Thanks in advance.

[2018-02-01 15:14] JPinkney commented on #60
I'm still working on this issue but I've done a bit of investigation, it looks like the yaml parser is getting back the correct results, so it looks to be something either schema or json parser side.

[2018-02-01 19:57] #60 closed

[2018-02-01 20:15] JPinkney commented on #59
I've opened a PR for this fix in the schemastore: https://github.com/SchemaStore/schemastore/pull/396

[2018-02-01 20:24] rylnd commented on #60
@JPinkney thanks for the fix! I look forward to its release!

[2018-02-01 21:24] JPinkney commented on #59
The PR has been merged, so i'm closing this issue!

[2018-02-01 21:24] #59 closed

[2018-02-04 05:52] akaroml opened #61 "Programmatically associate YAML files with schemas by other extensions"
Here to request a way of specifying a schema for a YAML file programmatically by other extensions.
## Scenario
When a user modifies the content of a YAML, a third party can recognize the features of the new content and tell the YAML extension what schema to use for the document.
In this way, the YAML extension can focus on generic language features but let other extensions contribute the schema kn

[2018-02-04 05:59] akaroml opened #62 "Help user set the schema of current YAML file"
Currently, a user needs to specify schemas by modifying the settings.json.
Here to propose a status bar item to show the current schema for the current YAML file. Users can tell what schema is currently used and can switch schema by clicking on it.
This is useful when the wildcard is supported when associating schemas with YAML files.
The list of available schemas is maintained by the YAML extensi

[2018-02-06 21:31] JPinkney commented on #61
You can use the "json/schemaAssociations" notification in the language server to inject the schemas https://github.com/redhat-developer/yaml-language-server/blob/master/src/server.ts#L34-L36

[2018-02-08 16:36] darkvertex opened #63 ""Fail to provide custom schemas." error in output log over and over"
I just installed it for the first time and opened a yaml file and every few seconds I get an error saying "Fail to provide custom schemas." printed to the "Yaml Support" Output log.

I'm on VSCode 1.21.0-insider on CentOS Linux release 7.4.1708 (Core)

Any clues?

[2018-02-08 17:51] JPinkney commented on #63
Its just a console.log that snuck through a PR, the message will be disabled on our next update (most likely monday)

[2018-02-08 18:32] darkvertex commented on #63
Ah, great! I was concerned I had done something wrong on my end.

I'll wait for the update. Thanks!

[2018-02-09 20:20] marco-m opened #64 "Feature request: formatter"
Hello,
if I select "Format document", vscode pops up "Sorry, but there is no formatter for 'yaml'-files installed."
It would be nice if this extension supported formatting :-)

[2018-02-12 18:48] alexpilon666 opened #66 "'Yaml Support server crashed 5 times in the last 3 minutes' problem in VS Code"
Hello,
Having an issue that was already reported, but mine differs somewhat.
After installing the Yaml extension on VS Code for Windows, I keep getting the `The Yaml Support server crashed 5 times in the last 3 minutes. The server will not be restarted` error. After looking in the input, I seem to be missing something:
[code]
What is this module that is missing and/or shouldn't it come with the ex

[2018-02-12 18:54] JPinkney commented on #66
I'm looking into this, I'm not sure if its something that has to do with relative paths in windows or not because I haven't seen it on Fedora or OS X High Sierra

[2018-02-12 19:26] robbecker-wf commented on #66
Mine is crashing as well, but for different reasons maybe.
I'm on MacOS 10.13.3 High Sierra.
VS Code 1.20.0
YAML extension 0.0.10

Here's that stack I get 5 times

[code]

[2018-02-12 19:28] JPinkney commented on #66
@robbecker-wf thats not this extension, thats https://github.com/adamvoss/vscode-yaml

[2018-02-12 19:31] robbecker-wf commented on #66
Hah .. you are correct! My bad.

[2018-02-12 22:19] gorkem opened #67 "add more keywords"
Add keyword for `kubernetes` and `kedge`

[2018-02-13 14:54] JPinkney commented on #64
The formatter should be available in our latest update! The code was in it server side for a while I just didn't update some vscode extension dependencies so it wasn't showing up

[2018-02-13 14:54] #64 closed

[2018-02-13 14:55] JPinkney commented on #66
@alexpilon666 Can you try with the latest version (0.0.9) and let me know if it works

[2018-02-13 14:55] marco-m commented on #64
Thanks!

[2018-02-13 14:55] JPinkney commented on #54
With the updated kubernetes schema this has been resolved

[2018-02-13 14:55] #54 closed

[2018-02-13 14:56] JPinkney commented on #49
Great news, we just updated the schema in our 0.0.9 version with one that includes hover!

[2018-02-13 14:56] #49 closed

[2018-02-13 14:56] JPinkney commented on #63
This should be gone with our 0.0.0 release

[2018-02-13 14:56] #63 closed

[2018-02-13 17:55] alexpilon666 commented on #66
@JPinkney Updated to the latest version and it stopped throwing errors!
Thanks a lot for the very quick fix :)

[2018-02-13 17:55] #66 closed

[2018-02-16 01:49] dburles commented on #64
Hey I'm on 0.0.9 and seeing the same message

[2018-02-16 14:21] iDVB commented on #56
Is there a way to tell vscode to ignore `yarn.lock` files in terms of syntax testing? Or to tell it to test as though it were a plain txt file?

[2018-02-20 19:11] cjroebuck opened #68 "support go templates"
I'm adding some go template syntax in my YAML which is causing this linter to complain, which is a shame. For e.g somewhere inside a kubernetes pod spec:

    spec:
      volumes:
      - name: fonts
        emptyDir: {}
      {{ if .development -}}
      - name: srccode
        hostPath:
          path: /Users/src
      {{- end }}

![image](https://user-images.githubusercontent.com/12208/36443820

[2018-02-21 19:28] JPinkney commented on #68
There isn't any easy way to ignore the syntax that I can think of that isn't an extremely hacky solution like to hide fields that begin with {{ and end with }} from the parser.

@gorkem Is that something you think we should look at/do you have any ideas about this?

[2018-02-21 19:35] JPinkney commented on #67
Added https://github.com/redhat-developer/vscode-yaml/commit/dfa0ddd3775ca67409cac082c1a8de28036e2dd5

[2018-02-21 19:35] #67 closed

[2018-02-21 19:38] JPinkney commented on #51
I'm going to close this because there is now an issue in the schema store https://github.com/SchemaStore/schemastore/issues/378

[2018-02-21 19:38] #51 closed

[2018-02-21 20:03] gorkem commented on #68
The given example is not legal YAML. Perhaps you can use string literals with `|` or `>`
Something like below which is legal YAML
[code]

[2018-02-26 11:55] cjroebuck commented on #68
For anyone else that wants to support go-templating for yaml I found that the [vscode plugin for Kubernetes from Microsoft](https://github.com/Azure/vscode-kubernetes-tools) has nice syntax support via 'helm-template' file type.

![image](https://user-images.githubusercontent.com/12208/36669189-f29b5446-1aeb-11e8-9e66-5eca22f8b7a3.png)

[2018-02-26 11:55] #68 closed

[2018-02-26 16:06] mrkcmo opened #69 "Yaml Support server crashed 5 times in the last 3 minutes."
Looks like a repeat of an issue from back in 0.8 in VSCode.

[code]

[2018-02-26 16:22] JPinkney commented on #69
That isn't an error for this extension. This is an error for github.com/adamvoss/vscode-yaml

[2018-02-26 21:41] #69 closed

[2018-02-28 01:11] andxu commented on #61
see [PR]{https://github.com/redhat-developer/vscode-yaml/pull/70}  for integrating custom schema providers

[2018-02-28 01:12] andxu commented on #62
https://github.com/redhat-developer/vscode-yaml/pull/70

[2018-02-28 07:33] Airkro opened #71 "[feature request] match file name by pattern"
Like:

[code]

[2018-03-02 00:51] andxu commented on #61
The PR is merged.

[2018-03-02 01:08] #61 closed

[2018-03-03 01:58] unional commented on #64
Same here. No formatter in 0.0.9

[2018-03-03 03:23] JPinkney commented on #64
Have you turned on the formatter in the yaml settings? It’s not enabled by default. After it’s enabled it requires a restart.

[2018-03-09 03:25] andxu commented on #62
@JPinkney when is the next release window for vscode-yaml in market-place?

[2018-03-09 04:34] JPinkney commented on #62
@andxu Should be this monday!

[2018-03-10 04:36] pinnaclesystemsgroup commented on #52
Realize this issue was closed, but I am getting the same error as was reported previously ...

/Users/****/.vscode/extensions/adamvoss.yaml-0.0.10/server/node_modules/vscode-json-languageservice/lib/services/jsonValidation.js:47
            jsonDocument.syntaxErrors.forEach(addProblem);
                                     ^

TypeError: Cannot read property 'forEach' of undefined
    at JSONValida

[2018-03-10 04:37] pinnaclesystemsgroup opened #72 "Yaml Support server crashed 5 times in the last 3 minutes - NEW ISSUE."
/Users/****/.vscode/extensions/adamvoss.yaml-0.0.10/server/node_modules/vscode-json-languageservice/lib/services/jsonValidation.js:47
            jsonDocument.syntaxErrors.forEach(addProblem);
                                     ^

TypeError: Cannot read property 'forEach' of undefined
    at JSONValidation.doValidation (/Users/****/.vscode/extensions/adamvoss.yaml-0.0.10/server/node_modules/vsco

[2018-03-10 15:36] JPinkney commented on #72
This isn’t this extension that is adamvoss yaml extension. https://github.com/adamvoss/vscode-yaml

[2018-03-10 15:36] #72 closed

[2018-03-10 19:01] odivlad commented on #52
Me too. Sometimes I encounter the `TypeError: Cannot read property 'forEach' of undefined`, and last time I see these errors:
[code]

Environment:
MacOS: 10.13.3 (17D102)
VSCODE: Version 1.21.0 (1.21.0), 9a199d77c82fcb82f39c68bb33c614af01c111ba

[2018-03-12 21:17] rcjsuen commented on #46
According to the [changelog](https://github.com/redhat-developer/vscode-yaml/blob/62b2c1e84fda1931736f8da2a867b10a20beff16/CHANGELOG.md), this has been fixed. Should this be closed?

[2018-03-12 22:21] fbricon commented on #46
Yup, works for me, nice job @JPinkney :-)

[2018-03-12 22:21] #46 closed

[2018-03-15 12:15] Deilan opened #73 ".travis.yml `osx_image: xcode9.2` is not an acceptable value"
`osx_image: xcode9.2` is not an acceptable value for `.travis.yml` file.

![image](https://user-images.githubusercontent.com/4777512/37462558-7b96145a-2863-11e8-9640-4ca5c053dfad.png)

According to https://docs.travis-ci.com/user/reference/osx/#OS-X-Version it's valid though.

[2018-03-15 19:48] JPinkney commented on #73
Once https://github.com/SchemaStore/schemastore/pull/421 is merged it will be fixed.

[2018-03-16 13:04] JPinkney commented on #73
I think we can close this since SchemaStore/schemastore#421 has been merged.

[2018-03-16 13:04] #73 closed

[2018-03-19 08:48] danipindado opened #74 "pasting multiple full lines adds additional indentation on first pasted line, causing bad indentation error"
hi,
since a week or so i have observed an annoying issue when copying and pasting whole lines.
the lines are properly pasted, but afterwards the first copied line is indented.
this causes a bad indentation error.
i know is coming from the yaml extension, because if i disable it, it works just fine.

the workaround is to paste the lines of code, and then, press once ctrl-z ( undo). if I do this, th

[2018-03-19 17:24] JPinkney commented on #74
Is there anyway you can show a gif of this happening? I cannot reproduce. There isn't any functionality that does auto indents of any sort so I'm not sure where it is coming from.

@gorkem Are you able to reproduce?

[2018-03-19 18:14] danipindado commented on #74
hi,
yes sorry. today in the morning i was not able of uploading a gif. for some reason now is working.
i have the same issue in two different computers.

![2018-03-19_19h06_46](https://user-images.githubusercontent.com/22555491/37613957-ab3fa164-2ba9-11e8-8cb0-e48911ee0eaf.gif)

[2018-03-19 18:24] JPinkney commented on #74
I can reproduce now. Weirdest bug I've seen in a while because the extension isn't doing anything directly that should change the paste. I'll look into it more to see why its happening

[2018-03-19 18:32] teohhanhui opened #75 "Formatting document should not destroy comments"
If `yaml.format.enable` is `true`, using the "Format Document" function destroys YAML comments.

[2018-03-19 18:44] JPinkney commented on #75
This is an issue with the underlying parser. Currently there is not a parser (that I can find) that supports comment nodes. if one becomes available then I would happily switch the formatter to use that to preserve the comments.

[2018-03-19 18:49] teohhanhui commented on #75
We should follow this issue then: https://github.com/mulesoft-labs/yaml-ast-parser/issues/27

[2018-03-25 00:08] akaRem opened #76 "Support for custom YAML tags"
Some utilities extend YAML syntax with custom tags. For example JJB introduces "include" tags, http://jenkins-job-builder.readthedocs.io/en/latest/definition.html?highlight=!include-raw#module-jenkins_jobs.local_yaml

YAML linter fails on provided examples.
Eg here
[code]
it says `unknown tag <!include:> at: '4,5'`.

According to documentation, currently there is no way
- to ignore some warnings,

[2018-03-28 10:30] sanyer commented on #76
Facing the same problem for CloudFormation templates which has tags like `!Ref`, `!GetAtt` etc.

[2018-04-04 03:11] JPinkney commented on #74
I found out why this is happening. VSCode introduced an auto indent feature that messes with the default indentation settings. The extension will now have to contribute indentation rules: https://code.visualstudio.com/updates/v1_14#_auto-indent-on-type-move-lines-and-paste. I'm looking into how I can fix this.

[2018-04-04 03:53] JPinkney commented on #74
Fixed and will be in our newest version hopefully released monday!

[2018-04-04 03:53] #74 closed

[2018-04-04 04:00] JPinkney commented on #76
Currently as far as I can tell the [underlying parser](https://github.com/mulesoft-labs/yaml-ast-parser) doesn't support custom tags. I'm not sure if that is something that could be easily added to that parser or if its worth changing parsers.

[2018-04-04 10:57] riemers commented on #76
Having the same issue `db_url: !secret db_url` when using secrets variables in home assistant.

[2018-04-04 12:41] sanyer commented on #76
@JPinkney right, it has only built-in support for `!include` tag. Project also seems to be a bit small and lonely.
Can't you use https://github.com/nodeca/js-yaml as underlying parser? It seems to support custom tags. I'm just asking, not an expert in js and don't really now how stuff works in this extension.

[2018-04-04 13:01] JPinkney commented on #76
@sanyer I'm going to look into it and compare a few of the options

[2018-04-04 15:32] sanyer commented on #76
@JPinkney cool, thanks :-)

[2018-04-04 20:36] akaRem commented on #76
I realized that the same problem is with Ansible playbooks. It has custom `!vault` tag for inlining encrypted secrets.

BTW, there is a plugin for atom https://atom.io/packages/linter-js-yaml where this option is supported.

[2018-04-04 23:52] derek-burdick opened #77 "Formatting YML file in VSCode removes all comments"
When I format this YML file in VSCode, it removes all comments.

Version 0.0.10
VSCode 1.21.1

[code]

[2018-04-04 23:53] JPinkney commented on #77
This is a duplicate of https://github.com/redhat-developer/vscode-yaml/issues/75.

[2018-04-04 23:54] derek-burdick commented on #77
@JPinkney  Thank you.

[2018-04-04 23:54] #77 closed

[2018-04-05 22:03] bary12 opened #78 "Automatically insert colon on autocomplete"
When autocompleting an object property, I don't see a reason why one would not want to add the colon right after. Currently only the name is inserted, without a colon.

[2018-04-08 02:45] gorkem commented on #78
Perhaps it should be a setting?

[2018-04-08 02:48] gorkem commented on #76
Does js-yaml provide an AST? Last time I have checked there was only one YAML parser that provided AST. Without an AST we can not provide code assist.

[2018-04-08 02:49] gorkem commented on #76
Related to https://github.com/redhat-developer/yaml-language-server/issues/59

[2018-04-08 02:57] gorkem commented on #62
Can we close this?

[2018-04-08 15:10] JPinkney commented on #78
I've been experimenting with this on a local branch and it seems much faster to develop yaml files using this. Theres still a few bugs but its almost there. It should be up in the next few days then we can evaluate.

[2018-04-08 15:15] JPinkney commented on #76
There is a [new one](https://github.com/eemeli/yaml) that provides an [AST](https://github.com/eemeli/yaml/blob/master/src/ast/README.md) that I've been looking into. I haven't done a full evaluation yet but it could potentially help resolve this and https://github.com/redhat-developer/vscode-yaml/issues/75

[2018-04-09 13:17] JPinkney opened #79 "Add indentation rules and yaml tmLanguage"
Add indentation rules and yaml tmLanguage

[2018-04-09 13:17] #79 closed

[2018-04-10 12:49] sanyer commented on #76
@JPinkney awesome, great that there is suitable alternatives :-)

[2018-04-11 14:43] DazWilkin commented on #43
I'm running Visual Studio Code versoin 1.21.1 and the excellent (Thank you!) YAML Support by Red Hat (0.0.11 !?).

This issue says that support for multiple YAML files was fixed in November but, it appears to not be working for me. User error, a regression, or...?

```yaml: expected a single document in the stream, but found more```

![image](https://user-images.githubusercontent.com/1022400/38623

[2018-04-11 14:53] JPinkney commented on #43
Confirmed regression. 0.0.10 works perfect but its broken in 0.0.11. My guess is its because of this commit https://github.com/redhat-developer/yaml-language-server/commit/808d7edc6437c646b19394eadeb87c05a91761ed

[2018-04-11 15:36] kace91 opened #80 "Support for local schemas / schema check"
Hi, I'm starting to use the plugin and there are two questions that come to mind:

- Is there a way to use a local schema that isn't available through a URL? We're using a custom yaml-based format and we'd like to use its schema without the requirement of having it uploaded somewhere. If it is not currently possible, I'd like to submit that feature as a potential enhacenment.

- As a followup, is

[2018-04-11 15:43] JPinkney commented on #43
Actually I just realised that i'm facing a different issue then you. When I copy and paste it it works just fine. My only issue with it is that autocompletion isn't working on the root element of multi-document. Did you type out all of that or did you just copy and paste?

[2018-04-11 15:53] JPinkney commented on #80
I believe using a relative path works but using an absolute path doesn't work.

I've tried with these and they don't work
[code]

But these works fine for me
[code]

If you're looking to contribute absolute paths for schemas you might want to look around [this area](https://github.com/redhat-developer/yaml-language-server/blob/master/src/server.ts#L132)

[2018-04-11 16:15] DazWilkin commented on #43
I have several other Kubernetes deployment files that surface this issue. When I found this issue, I copied and pasted the example from above to provide a more obvious repro.

[2018-04-11 18:41] JPinkney commented on #43
This is what I see when I enter in the file (I just copied and pasted it in). I'm not sure why it would be different between the two but i'm still looking into it.

![weird_bug](https://user-images.githubusercontent.com/8839537/38636434-28016bd0-3d96-11e8-802f-a9a9526bbf11.png)

[2018-04-11 21:36] JPinkney commented on #43
I just tried on another computer and could not reproduce.

@gorkem Are you able to reproduce this?

[2018-04-11 22:16] DazWilkin commented on #43
Since I posted this, Visual Studio Code has updated (now: 1.22.1) but the problem persists.

I'm running on Linux (Debian) and assume you may be using Mac OS. Perhaps that's a difference?

[code]

[2018-04-11 22:25] JPinkney commented on #43
I've tried on both Linux (Fedora) and Mac OS and could not reproduce

[2018-04-12 02:13] DazWilkin commented on #43
Thanks for the help! I'll try it tomorrow

[2018-04-17 16:59] ChristopherSchubert opened #82 "Incorrect duplicate key registered when using YAML anchors"
I receive a "Duplicate Key" error highlight and tooltip when reference multiple YAML anchors at the same level within an element.

For example, defining two different anchors, which do not share the same keys:

[code]

causes the error when referenced as:

[code]

Full snippet:
[code]

Screenshot:
![yaml_anchor_error](https://user-images.githubusercontent.com/18542093/38884917-234583b2-423f-11e8-8

[2018-04-17 20:08] armenr commented on #52
I'm getting the same as above, also!

[code]

[2018-05-01 15:11] danhofer commented on #64
I've enabled the formatter and restarted VS Code, yet I still get the message that there is no formatter. I'm on version 0.0.11. Tried uninstalling and re-installing the extension, too.

[2018-05-01 20:13] JPinkney commented on #64
It seems to work fine for me on latest version. Are you accidentally using https://marketplace.visualstudio.com/items?itemName=adamvoss.yaml instead of https://marketplace.visualstudio.com/items?itemName=redhat.vscode-yaml or do you have any other yaml extensions activated?

[2018-05-02 13:37] danhofer commented on #64
The only other extensions I have installed besides this one are a Python extension and an ESLint extension. I've enabled `"yaml.format.enable": true` in my user settings. I'm assuming I can format code by highlighting what I want to format and pressing `cmd-K-F` like I can for JavaScript. Is that correct, or am I misunderstanding?

[2018-05-02 13:47] JPinkney commented on #64
Currently it just formats the entire document. If you right click on a yaml file is the format document option there? Which version of vscode are you using?

[2018-05-02 14:29] danhofer commented on #64
I'm on VS Code version 1.22.2. When the file is open in the file explorer this is my menu when I right click. Right clicking on a closed file has a menu with less options.
![menu](https://user-images.githubusercontent.com/30373421/39528916-69a11c76-4df3-11e8-8b45-e0e60223f014.png)

[2018-05-02 14:41] JPinkney commented on #64
No, I mean when you have a yaml file open and you right click inside the text editor. This is what I see.
![screenshot from 2018-05-02 10-39-24](https://user-images.githubusercontent.com/8839537/39529719-59d4135a-4df5-11e8-993f-2cdce07505b7.png)

[2018-05-02 16:20] danhofer commented on #64
Ah yes, I see it. When I click the menu option it works. Thank you very much!

[2018-05-11 10:08] cassianoleal opened #83 "The YAML Language Server server crashed 5 times in the last 3 minutes. The server will not be restarted."
Lots of people still commenting on https://github.com/redhat-developer/vscode-yaml/issues/52 after it was closed.

I'm also facing the same problem.

[code]

[2018-05-11 12:08] JPinkney commented on #83
This is not this extension. The extension you have installed is https://marketplace.visualstudio.com/items?itemName=adamvoss.yaml. This is the repository for https://marketplace.visualstudio.com/items?itemName=redhat.vscode-yaml.

[2018-05-11 12:08] #83 closed

[2018-05-11 12:28] cassianoleal commented on #83
Argh, you're absolutely correct. I've switched over to this one, and no crashes. Thanks and sorry for the noise!

[2018-05-13 14:49] steve28 commented on #76
Is this still being considered?  I work with YAML which includes custom tags as well and my files show tons of errors that aren't real.

[2018-05-13 15:00] JPinkney commented on #76
It will be added in the release tomorrow.

[2018-05-14 15:31] JPinkney commented on #82
Fixed in 0.0.12 release.

[2018-05-14 15:31] #82 closed

[2018-05-14 15:31] JPinkney commented on #78
Added in 0.0.12 release.

[2018-05-14 15:31] #78 closed

[2018-05-14 15:33] JPinkney commented on #56
A little late on the response but I'll look to see if we can ignore that file. It shouldn't be picked up at all since its not actual yaml. I could be wrong but it seems as though VSCode is associating it with yaml for some reason.

[2018-05-15 06:40] koliyo commented on #52
I get the same `forEach` error as @armenr

[2018-05-15 17:19] JPinkney opened #84 "Update VSCode engine version"

[2018-05-16 13:34] doapp-ryanp opened #85 "Added tag to customTags, get error on tag"
My userSettings:
[code]

[code]

Error:
[code]

Any ideas?  This line is the 1st line in my yml with a custom tag.  IDE showed a red squiggly under the !GetAtt tag until I added it to `yaml.customTags` (then red went away).  Doesn't break until I format the  doc.  My guess is the formatter does not yet have support for `yaml.customTags`?

[2018-05-20 14:11] JPinkney commented on #85
I guess it currently does not. At some point i'd like to replace the formatter and its on the list of things to do.

[2018-05-24 15:03] amal-khailtash opened #86 "Cannot update/install redhat.vscode-yaml-0.0.12"
I cannot update or install newer version of this extension.

[code]
[code]

[2018-05-24 15:37] JPinkney commented on #86
I uninstalled and then reinstalled fine via the command line. Can you try removing $HOME/.vscode/extensions/.redhat.vscode-yaml-0.0.12 and $HOME/.vscode/extensions/redhat.vscode-yaml-0.0.12 and then reinstalling again

[2018-05-24 15:48] amal-khailtash commented on #86
[code]

[2018-05-25 13:10] giovannicandido opened #87 ".yml files are ignored"
Using it with ansible, all .yml files has no syntax highlight
Renaming file to .yaml enables but is not compeling to rename all my files.

[2018-05-28 17:33] JPinkney commented on #86
Were you able to get it to install? I've just checked again and on 1.23.1 its working fine for me. Could it be some sort of permissions thing? Here is what shows for me when I do `ls -l` on redhat.vscode-yaml-0.0.12 and `ls -l` on redhat.vscode-yaml-0.0.12/node_modules

![selection_010](https://user-images.githubusercontent.com/8839537/40624581-6fcde9de-627b-11e8-8a73-e259f3ca5e97.png)

[2018-05-28 18:09] amal-khailtash commented on #86
I did try it again just now and it did install this time around!  Not sure what the problem was.  It was quite persistent.  Thanks,

[2018-05-28 18:11] JPinkney commented on #86
I'm glad to hear that! Maybe you restarted between then and now and that did the trick?

[2018-05-28 18:11] #86 closed

[2018-05-28 19:49] grillbiff commented on #56
if you want `yarn.lock` ignored until this is fixed you can change the Language Mode of the file to i.e. `plain text` and it won't get picked up by the validator.

[2018-05-29 15:24] JPinkney commented on #84
https://github.com/redhat-developer/vscode-yaml/commit/8b1badb7bf90eaf97e536c56c554121f3188c4f1

[2018-05-29 15:24] #84 closed

[2018-05-30 11:01] giovannicandido commented on #87
Is not a kubernetes file.

![problem](https://mfirkw.bn.files.1drv.com/y4mmMu2o9t8RGOhma8tiaPnPbhaS4oy4OGUxL9U1I6rFa9tvW8ZgBVtBCzvV_-7yC2q944b65mGMn9TzKX3a6dPAmHfi5psF3lsSPJBlVTW530ZUGoOdaYcRuvfe12UjjYiyMr0h4CBxngl-9zj-3ufo0ztYF1cKBTijXekb-eC3GhJpv2e6xTYIEeUkttglIfmhLYWWXgDm2pyzmFHQfzAHmyqyGKnsmFLXCg2mY4z9jg/vscode.png)

[2018-05-31 11:19] giovannicandido commented on #87
I test in Windows and is ok. Problem is on Ubuntu Linux.

[2018-05-31 12:01] giovannicandido commented on #87
The highlight is not working on folders:
 **roles**
 **playbooks**

This video show the behaviour: https://1drv.ms/v/s!AoHvV-Rb6N9QgoJ4ulk8Z7RUq2kCUg

[2018-05-31 13:27] JPinkney commented on #87
Ah, thats such weird behaviour. I'll look into it and fix it for the next release.

[2018-05-31 21:18] caub opened #88 "How to avoid line-breaking or set preferred maxLength?"
If I have a long line  (it's wrapped in vscode, so it's fine)

[code]

vscode-yaml will reformat it in

[code]

How to avoid this behavior?

Also this extension nukes comments, it's quite annoying

[2018-05-31 21:31] caub commented on #75
@JPinkney do you think the parser can be updated to https://github.com/eemeli/yaml, that's what the issue above leads to, it supports fully comments

[2018-06-04 20:03] JPinkney commented on #88
There currently are no settings for the formatter. Unfortunately there is not any good yaml formatters that I can find so I will need to re-write a better formatter in the future.

[2018-06-04 20:05] JPinkney commented on #75
Only the formatter needs to be updated to use that parser instead. If we do that then a better formatter can be built ontop of that.

[2018-06-04 20:22] JPinkney commented on #88
I've just found [this PR](https://github.com/prettier/prettier/pull/4563) on popular formatter. When it gets merged I will use that as the formatter instead.

[2018-06-05 12:03] GuidoS commented on #75
Can you share a link to the formatter?

[2018-06-05 12:08] GuidoS commented on #62
Is there a place where the schema being used is displayed on the editor?

[2018-06-05 12:19] JPinkney commented on #75
The current one? Its just [this](https://github.com/adamvoss/vscode-yaml-languageservice/blob/master/src/services/yamlFormatter.ts)

[2018-06-06 15:16] JPinkney commented on #56
[VSCode has now removed yarn.lock from the yaml language contribution](https://github.com/Microsoft/vscode/commit/13471d3b4bd39d9fe0e2bc948506acb4fe33cf03) so yarn.lock will no longer be associated with yaml. I'm closing this now because its fixed on both sides. All that is required is to upgrade to new VSCode version that doesn't have that language contribution and the vscode-yaml release that wi

[2018-06-06 15:16] #56 closed

[2018-06-07 09:23] ytimenkov opened #89 "Extension silently fails to get kubernetes schema"
Version: 0.0.12

There are 2 points in this issue:
1. `"kubernetes"` association doesn't work on my machine.
2. It provides absolutely no diagnostics/hint/error message why and whether it should work or not.

I spend quite much time trying to get completion and validation for my Kubernetes files: it just doesn't work, only suggestions I get are from VS Code's internal parser.

I tried enabling ver

[2018-06-07 12:19] JPinkney commented on #89
The custom/scheme/request is something different that is used when someone builds an extension ontop of vscode-yaml. Try to see if there is a didChangeConfiguartion, that’s what will set the language server to use kubernetes schema internally.

[2018-06-07 16:18] ytimenkov commented on #89
I saw that information which is sent to language server looked correct. This also confirmed by that changing "kubernetes" to local path makes it work.

I had doubts where to file issue: here or to language server, but as extension doesn't expose diagnostics from the language server I decided to start here.

[2018-06-07 16:45] JPinkney commented on #89
The issue is fine to be in here, I work on both this extension and the language server.

Just to make sure, it does work when you put in the local path but now when you use the url?

[2018-06-07 16:50] ytimenkov commented on #89
Url doesn't work. Had "kubernetes" first, but I had only syntax highlighting: no validation, no hover hints, no completion. Changing to Url from language server sources had same effect.

So I blame connectivity (proxy, proxy authentication, fake ssl certificate).

[2018-06-07 17:02] JPinkney commented on #89
This isn't my area of expertise so I'm not sure how much it will help but the language server can use VSCode's http.proxy and http.proxyStrictSSL settings to configure the http requests that the language server will do.

The relevant code on the extension side is [here](https://github.com/redhat-developer/yaml-language-server/blob/master/src/server.ts#L211)

[2018-06-07 17:17] ytimenkov commented on #89
Let's start with diagnostics :D, e.g. notification that schema can't be downloaded and logging from language server.

As for httpProxy, I saw that either `proxy` or `strictSSL` (but not both) are passed to the language server when configuration changes. But this may be another separate issue.

[2018-06-07 17:31] JPinkney commented on #89
I can do that. I'll open up an issue on the yaml-language-server.

This is whats being sent for me
[code]

[2018-06-07 19:27] JPinkney commented on #80
I've added this as of [this](https://github.com/redhat-developer/yaml-language-server/commit/30baee003fcd8b22e2f13b5c7ce52a93ce28d842). It will be added Monday when we do a release.

[2018-06-07 19:27] #80 closed

[2018-06-07 19:36] ytimenkov commented on #89
Cool! Thanks for quick response.

[2018-06-07 19:36] #89 closed

[2018-06-10 16:55] JPinkney commented on #85
This will be fixed in the next release (Monday).

[2018-06-10 16:55] #85 closed

[2018-06-11 08:02] timm088 commented on #87
Hrmm, not sure if related, but in my case, when using the 'comment' shortcut in .yaml files, i now get `/* my thing */`

New behaviour, does not occur in .yml files

[2018-06-12 02:28] Vincz opened #90 "Strange behavior on format"
Hi!
Since yesterday, when I format a YAML file on save, it add the following header

[code]

Any idea?

[2018-06-12 04:12] brookjordan opened #91 "Colons in multi-line"
Text before colons in multi-line strings (`>` or `|`) should be highlighted as part of the string:
<img width="307" alt="screen shot 2018-06-12 at 12 09 26 pm" src="https://user-images.githubusercontent.com/9323190/41269762-bfede864-6e39-11e8-86e3-38014df0a222.png">

It should look like this, without the leading quote mark:
<img width="313" alt="screen shot 2018-06-12 at 12 12 03 pm" src="https://

[2018-06-12 15:10] labarilem opened #92 "Relative paths for schemas not working anymore"
Hi,

I have a JSON schema file in my project that I want to apply to several YAML files.

This is my `.vscode/settings.json`:

[code]

where `./my.schema.json` is the relative path to my JSON schema file.

This configuration was working as intended until yesterday. Now it only works if I specify an absolute path for the JSON schema file.

Any ideas?

Thanks 😄

[2018-06-12 15:28] JPinkney commented on #92
I'm unsure what would have broke but I'll look into it.

[2018-06-12 16:18] Vict0rSch commented on #90
Same here, version `0.0.13`, vscode  `1.24.0`

[2018-06-12 17:05] JPinkney commented on #90
It most likely went wrong during [this commit](https://github.com/redhat-developer/yaml-language-server/commit/191274a3aeadde275d02714257bb66c74bd4cd03). I should have a fix+release in the next week.

[2018-06-16 20:22] teresaejunior opened #93 "Support Ansible Vault"
Example:

[code]

This is the default. I generally use just two spaces of indentation, though.

[2018-06-18 19:59] matulkum commented on #92
maybe it was not a change on the extensions, which broke it, but an update from vscode?

[2018-06-19 12:45] efim-a-efim commented on #52
Have this error on Windows too. Log is absolutely similar to @armenr and @odivlad

[2018-06-19 15:37] JPinkney commented on #93
I'm not exactly sure what the issue is here. Do you just want 2 spaces of indentation instead of the default? Or is there something else?

[2018-06-20 19:51] teresaejunior commented on #93
Lol, no! I get a red line underneath `!vault`, and a popup written `unknown tag <!vault>`. I just mentioned that I use less indentation than the one output by `ansible-vault`, if that makes any difference!

[2018-06-20 20:00] JPinkney commented on #93
Try adding !vault to yaml.customTags (like this).

[code]
I think that should resolve the unknown tag issue!

[2018-06-20 22:36] teresaejunior commented on #93
Thank you, that works!

[2018-06-20 22:36] #93 closed

[2018-06-22 10:55] andyeff opened #94 "Inaccurate YAML validation errors"
Hello,

Since Tuesday or Wednesday this week, I've started noticing the YAML validation has started flagging up things seemingly incorrectly.

I primarily write YAML for Ansible playbooks and don't recall seeing this at any point earlier so unsure what might have changed, but for example:

[code]
The second and third win_copy tasks are now showing `Missing property "name".`

Another example
[code]

[2018-06-22 14:21] JPinkney commented on #94
I think it might be because of https://github.com/SchemaStore/schemastore/commit/8af13cd3afa7ca67a1c246b38e19602c7e242783. This extension pulls from the schema store to set the schemas for commonly used files. I don't know too much about ansible but you can file an issue on that side and I'm sure it will be taken care of because thats where the schema is coming from.

[2018-06-22 14:22] andyeff commented on #94
Ah, thanks for the heads-up! I'll close this and go investigate the schemas instead.

[2018-06-22 14:22] #94 closed

[2018-06-22 14:34] gdlx opened #95 "Sort feature"
Hi,

It would be nice to add a keys sorting feature. I use this a lot under Atom for my locale translations files: https://github.com/elledienne/easysort-yaml

[2018-06-23 00:59] carlbuchmann opened #96 "Incorrect type. Expected "string""
When writing ansible playbook, I get many reported problems where keys contain boolean values or integers... This seems that have started since the last update 4-5 days ago...
example:
![image](https://user-images.githubusercontent.com/20460062/41804052-47cee9aa-765e-11e8-8519-dc39a44d4c9a.png)

Reproduced on both my windows and Linux development workstations with the latest version of vscode: 1.2

[2018-06-23 03:40] gorkem commented on #96
Can be related to https://github.com/redhat-developer/vscode-yaml/issues/93

[2018-06-26 15:03] cmendible commented on #96
Hi guys, same here!  It makes my yaml files almost unreadable. Seems to happen with hashes with the latest update.

![expectstring](https://user-images.githubusercontent.com/266546/41921247-b86820bc-7962-11e8-9289-68bd531e254a.PNG)

[2018-06-26 16:12] JPinkney commented on #96
It has nothing to do with the latest update. It has to do [ansible files being added to schemastore](https://github.com/SchemaStore/schemastore/commit/8af13cd3afa7ca67a1c246b38e19602c7e242783). This extension pulls from schema store to automatically configure specific well used files. Please file an issue over there and then it will be updated.

[2018-06-26 19:59] cmendible commented on #96
Hmmm that makes sense! I'll check with them...

Thanks!

[2018-06-27 06:26] montao opened #97 "There is no release"
Going to the release page, there are no releases available. I am looking for how to reformat YAML.

[2018-06-27 18:26] #97 closed, assigned to nobody

[2018-06-27 20:55] cmendible commented on #96
I've created the following pull request to fix my issue: https://github.com/SchemaStore/schemastore/pull/480

[2018-06-27 22:34] carlbuchmann commented on #96
it looks like the schema files are auto-generated from ansible documentation, so I think it's best to go and fix the source on the ansible repo... it will break again when 2.6 is released!
"Auto-Generated JSON Schema for Ansible-stable 2.5 (https://github.com/shaded-enmity/ansible-schema-generator" - generate JSON schema for language servers from Ansible module documentation in an Ansible reposito

[2018-06-29 08:46] cmendible commented on #96
Ok so I can confirm that this issue has nothing to do with this bug.

We've modified the schemas published in the schema store (https://github.com/SchemaStore/schemastore/pull/480)  as quick fix but both **ansible** documentation (https://github.com/ansible/ansible/pull/42033) and the **ansible-schema-generator** code (https://github.com/shaded-enmity/ansible-schema-generator/issues/1) must be mod

[2018-06-30 01:28] carlbuchmann commented on #96
@cmendible did the quick fix work for you?
Since there are 5 schemas published for ansible, which one will be used by this YAML extension... does it detect the ansible version of the local host it is running from or is there a way to manually specify? I'm asking because typically support various major versions currently 2.4.x and 2.5.x

[2018-07-02 08:15] labarilem commented on #92
Hi @JPinkney , any updates? 😄

[2018-07-02 08:50] cmendible commented on #96
Hi @carlbuchmann, it did! I don't have ansible installed (I use cloud shell) so it's not detected from local installation... The extension is using the latest ansible schema from:  http://json.schemastore.org/ansible-stable-2.5

[2018-07-02 16:32] OwenMcDonnell opened #98 "Disable schema store connection"
Is there a way to disable any connection to the schema store? Locally mapped schemas seem to be combining with those from the schema store making development of new schemas difficult.

[2018-07-02 17:48] JPinkney commented on #92
Should be in the next release on July 9th.

[2018-07-02 17:49] JPinkney commented on #98
Not currently but I can add that

[2018-07-02 19:15] mikehanney commented on #90
Format document goes more wrong when the end of line format is CRLF compared to when it is LF. Just saying in case it helps troubleshoot.

[2018-07-02 20:12] OwenMcDonnell commented on #98
Actually, now i wonder if its really all that useful since its pretty easy to just rename the file you're targeting to something that's not represented in the schema store.

[2018-07-03 09:36] shaded-enmity commented on #96
@carlbuchmann There's no way to detect Ansible version at the host, as the schema application logic uses simple path matching. The correct way to approach this IMHO would be to allow the user to select which version of schema to use (if there are more) via the UI and defaulting to the latest. Similar to how I can choose Python2 or Python3.

[2018-07-03 10:02] shaded-enmity commented on #96
BTW. I finally realized what is going on in here with the bool/string thing - modules from `ansible` core are processed first, but those modules contain ill-formed documentation which is disjointed from the non-core modules (note that all docs point to the non-core variants e.g https://docs.ansible.com/ansible/latest/modules/service_module.html).
I've pushed a commit that fixes that and I'll try t

[2018-07-05 18:52] tizmagik commented on #90
Just hit this today too, vscode 1.24.1

[2018-07-05 18:53] JPinkney commented on #90
It will be fixed in the release Monday! (There will be completely new formatter that preserves comments)

[2018-07-11 09:53] yogeek opened #99 "Autocompletion does not work with custom schema"
First, thanks for this plugin !

I am trying to use it to write a yaml file corresponding to the schema of a Jenkins plugin (https://github.com/jenkinsci/configuration-as-code-plugin).
The schema is configured like this (I make it available locally because it is dynamically generated from a live Jenkins instance) :
[code]

When editing the file in VSCode, it seems to be known (no error indicating

[2018-07-11 16:11] shaded-enmity opened #100 "Provenance for Diagnostic messages"
We first touched this topic in https://github.com/redhat-developer/vscode-yaml/issues/96#issuecomment-401314595 and I've been wondering what would be the possible solutions here. Just to properly set the context here, the problem is that LSP extensions like `vscode-yaml` emit diagnostic messages based on schemas provided by 3rd parties, however these messages provide no provenance as to from *what

[2018-07-11 17:08] JPinkney commented on #100
I think that's a really great idea. My only concern is that i'm not entirely sure how many language servers rely on things coming from a third party. I think vscode-yaml and the yaml-language-server are more of the exception rather then the norm. I know that the json language service uses schemas as well but I believe they don't pull from the schema store.

[2018-07-17 12:48] labarilem commented on #92
This issue is still present using the latest VSCode version.

[2018-07-17 12:55] JPinkney commented on #92
That's because it hasn't been released yet. There has been issues with the release process that we are still trying to figure out.

[2018-07-19 06:48] shawnhwei commented on #90
Any update on this?

[2018-07-19 09:23] Southclaws commented on #90
I cloned the repo and built a .vsix to test, the formatted seems fixed in the latest commit! Just needs to be released to the marketplace, if there are no other issues of couse.

[2018-07-19 14:46] gdimauro commented on #92
any updates?

[2018-07-19 18:52] JPinkney commented on #55
Issue reported on the schema side [here](https://github.com/garethr/openshift-json-schema/issues/3)

[2018-07-23 07:40] shawnhwei commented on #90
Can we offer any help with the Jenkins issue? Would really like to get this fix on our machines.

[2018-07-23 13:04] JPinkney commented on #90
You can try checking out this repository, then running npm install vsce -g then running vsce package and tell me if anything goes wrong (it works fine on both my computers). Unfortunately I'm not the one who approves the releases so it may take some time.

[2018-07-24 09:30] SkeLLLa opened #101 "Adding UTF-8 symbols in text fields breaks validation"
Adding symbols like "🚣" http://www.fileformat.info/info/unicode/char/1F6A3/index.htm
Cause errors "end of stream or a document separator is expected" or "stream contains non-printable characters"

[code]

[2018-07-24 15:56] JPinkney commented on #96
I'm going to close this because it seems like a schema thing.

[2018-07-24 15:56] #96 closed

[2018-07-25 16:49] JPinkney commented on #92
Just released. It should be fixed. Apparently the language client dependency switched from relative paths to absolute paths so I just had to lower that and it should be back to normal.

[2018-07-25 16:49] #92 closed

[2018-07-25 16:50] JPinkney commented on #90
Just released the newest version. Unfortunately I wasn't able to get the new formatter in but atleast this issue is now resolved.

[2018-07-25 16:50] #90 closed

[2018-07-25 18:18] nicholas-devlin opened #102 "Is it possible to have a schema file defined locally?"
I am able to link to urls to provide a custom schema e.g.

`"https://raw.githubusercontent.com/nicholas-devlin/datadog-yaml-schema/master/kedge-schema.json": "/myKedgeFile.yaml"`

It works correctly and does autofill and all that good stuff. But when I try to set it to a local file path:

`"/Users/nicholas.devlin/Developer/datadog-yaml-schema/kedge-schema.json": "/myKedgeFile.yaml"`

I just get an

[2018-07-25 18:31] nicholas-devlin commented on #102
Awesome thanks. Sorry for not finding that issue earlier, didn't realize I could search through archived.

[2018-07-25 18:31] #102 closed

[2018-07-25 18:33] JPinkney commented on #102
No worries, perhaps I should make a note of it in the readme regardless though because I think its pretty important!

[2018-07-25 18:36] nicholas-devlin commented on #102
Yeah, It took me a bit to even understand how the setting worked. It might be helpful to just have a more detailed example of the usage of that setting. I think I saw something in that gif about it, but the gif was like 3 minutes long and i couldn't find the spot again, that should really be split up or just link to a video lol.

[2018-07-25 18:39] JPinkney opened #103 "Update readme for settings"
Upon feedback from users they have had trouble figuring out how to do the yaml.schemas setting. We should adjust the readme so that it becomes more clear.

Also, we need to tell users that relative paths are the way to go and that absolute paths do not work.

[2018-07-25 18:41] JPinkney opened #104 "Update gif"
The gif should be updated to show the newest version of vscode-yaml. Additionally, we should create a link to youtube video so that users can look at specific parts of the video instead of having to wait for the gif.

[2018-07-26 07:21] labarilem commented on #92
I can confirm that it's working now, thanks 😄

[2018-07-26 17:43] pgassmann opened #105 "ansible - include_tasks: Incorrect type. Expected "object"."
Visual Studio code incorrectly flags syntax errors with `include_tasks` and `import_tasks`

related to #96

[code]

The Schema source extract:
from https://github.com/SchemaStore/schemastore/pull/490/files
[code]

[2018-07-26 18:08] JPinkney commented on #105
According to the schema it should be an object whereas the provided snippet it is a scalar. I'm not familiar with ansible so I don't know which is correct but if the snippet is correct there is an error in the schema.

[2018-07-26 18:22] pgassmann commented on #105
The snippet is correct. See documentation: https://docs.ansible.com/ansible/latest/modules/import_tasks_module.html
The documentation also uses free-form or free_form there and in other places to indicate that theres no key: value options, but that the arguments are directly added.
https://docs.ansible.com/ansible/2.3/win_command_module.html

[2018-07-26 18:30] pgassmann commented on #105
By searching the schema for "free-form" I found more modules that lead to this syntax false-error:

[code]
https://raw.githubusercontent.com/SchemaStore/schemastore/8af13cd3afa7ca67a1c246b38e19602c7e242783/src/schemas/json/ansible-stable-2.5.json

Is this a problem of the schema or of the interpretation of free-form?
What would be the correct schema and how is that schema generated? Where does it

[2018-07-26 18:39] JPinkney commented on #105
It looks like its a problem in the schema and also an error in the ansible documentation itself. From what i'm understanding free_form isn't actually a parameter you can specify so the actual type in the schema for include_tasks and import_tasks should be a string. I've filed an issue [here](https://github.com/shaded-enmity/ansible-schema-generator/issues/3) and once that fix is applied to the sch

[2018-07-30 18:15] nicholas-devlin opened #106 "Arrays of objects are not split up in the yaml outline"
Here is an example image: https://cl.ly/0d3J3r3R202l

The text:

[code]

`instances` just appearing as an array with a bunch of duplicate values. http://yaml-online-parser.appspot.com/ seems to correctly parse this as:

[code]

[2018-07-30 18:39] JPinkney commented on #106
The only way to get the behavior I think you're wanting is to wrap the object document symbols in an object symbol with name Object[0] ... Object[N] though currently the results are consistent with the JSON language server.

[2018-07-30 21:00] nicholas-devlin commented on #106
Okay so the underlying parser for this project and that site I linked are different? It doesn't have the ability to tell which values are grouped together in an array?

[2018-07-30 22:15] JPinkney commented on #106
It does; thats not the problem. The outline view in VSCode is just getting the document symbols and showing them in a hierarchical way. Its just the only way to achieve this result (as far as I know) is returning a symbol information node that would be the root of the object but I can look into it more.

[2018-07-31 15:00] nicholas-devlin commented on #106
okay, so since there isn't like a strictly defined object name for each element, it's just smashing each object's values together. In order to get what I'm looking for I'd have to make some kind of dummy object for each element of the array to get it represented in the hierarchy. that seems a bit wasteful, and I don't think I'd change my code just to get it to display prettier there.

I feel like

[2018-07-31 15:41] JPinkney commented on #106
That would have to be done on this extensions side not on your side.

Perhaps that could work. Though i'm not entirely sure if the language server protocol states whether or not the text should be empty strings or not. Additionally, the regular document symbols (ctrl+shift+o for me on VSCode i'm not sure if thats the default or not though) would just have an empty text field for those objects whic

[2018-08-02 08:51] mortenbpost opened #107 "self signed cert"
Hi,

I'm getting this error after installing the extension. http.proxy and http.proxyStrictSSL is setup.

Unable to load schema from 'https://gist.githubusercontent.com/JPinkney/ccaf3909ef811e5657ca2e2e1fa05d76/raw/f85e51bfb67fdb99ab7653c2953b60087cc871ea/openshift_schema_all.json': Unable to connect to https://gist.githubusercontent.com/JPinkney/ccaf3909ef811e5657ca2e2e1fa05d76/raw/f85e51bfb67fdb

[2018-08-09 19:36] govindrai opened #108 "extension commands not showing up in command palette"
The extension installs (I can see the downloaded package in the extensions folder) but I cannot actually use the extension as I cannot see any of the commands in the command palette.

[2018-08-09 19:40] JPinkney commented on #108
There aren't any commands for this extension. There are only preferences for this extension.

[2018-08-09 20:17] govindrai commented on #108
Thanks for the swift reply. I don't see these preferences in settings either. If I manually add, say `yaml.format.enable: true` I get a "unknown configuration setting". I apologize if the answer is obvious.

[2018-08-09 21:50] JPinkney commented on #108
Did you by any chance install https://marketplace.visualstudio.com/items?itemName=adamvoss.yaml#review-details? If not then what is your VSCode version and when you open up a yaml file in the output tab can you see output from the tab that says "YAML support"?

[2018-08-16 06:04] TheNetAdmin opened #109 "Multiline string highlight error in vscode-yaml 0.0.14"
[code]
For this multiline string, the `|second line` gets wrong highlight, as shown in the figure.
![multiline](https://user-images.githubusercontent.com/18525442/44191284-3cddcf00-a15d-11e8-8113-6076cd42f62b.JPG)

[2018-08-16 16:24] adam-moss opened #110 ".gitlab-ci.yml validation errors"
Hi,

I'm seeing errors in the validation of `.gitlab-ci.yml` files, specifically anchors, as described in https://github.com/redhat-developer/vscode-yaml/issues/60.

However, as per https://github.com/redhat-developer/vscode-yaml/issues/87, this doesn't happen if I rename the file to `.yaml` where it validates correctly.

Interestingly it does appear to be using the correct schema for validation,

[2018-08-17 07:34] ntomka opened #111 "Couldn't start client Yaml Support"
When I open a YAML file, vscode reports an error saying extension cannot start client:

![image](https://user-images.githubusercontent.com/2313363/44253648-95b27380-a200-11e8-85c7-547922cf92ad.png)

Developer tools can't say more:

![image](https://user-images.githubusercontent.com/2313363/44253723-c85c6c00-a200-11e8-950a-2ad822bc2689.png)

[2018-08-17 12:29] JPinkney commented on #111
What version of VSCode and what OS are you using?

[2018-08-17 12:39] ntomka commented on #111
Latest vscode: 1.26.1
OS: KDE Neon, based on Ubuntu 16.04

[2018-08-17 12:59] JPinkney commented on #111
Can you try to uninstall then reinstall? I've never seen it fail to start before

[2018-08-17 13:03] ntomka commented on #111
Yes, that was my first reaction. :) But I tried it again now and I have the same results. Can it interfere with some other extension?

[2018-08-17 13:27] JPinkney commented on #111
Hmm, there are a few extensions that use it i'm wondering if somehow they're breaking it? Can you list your extensions that are kubernetes/yaml related?

[2018-08-18 13:13] Southclaws commented on #90
I just saved a travis config and got some extremely odd and quite funny results:

Before save:
[code]

After save:

[code]

[2018-08-23 10:41] ntomka commented on #111
I have no other related to them, but now I disabled all my extensions except yaml support and I have no luck:

![image](https://user-images.githubusercontent.com/2313363/44520988-d95e1f00-a6d1-11e8-8b45-ab7a8625e89d.png)

[2018-08-23 11:46] ntomka commented on #111
Ok, I found out what caused the problem. I have problem with another extension before and I enabled `--inspect-extensions=9333` in code's shortcut to be able to debug it. After removing this cmd option I am not receiving this message anymore.

[2018-08-23 16:49] mhanney opened #112 "Formatter removes valid custom tags"
I'm using customTags for AWS CloudFormation .yml such as "yaml.customTags": ["!Ref scalar"]. This works great with "yaml.validate": true. But when I use format document, they get completely stripped out. I'm using 0.0.14. It was working before https://github.com/redhat-developer/vscode-yaml/issues/90

[2018-08-23 22:41] JPinkney commented on #110
So everything is working correctly when the file is named .yaml but not when it’s named .yml?

[2018-08-23 22:45] JPinkney commented on #111
Is everything working then? Can I close?

[2018-08-24 07:13] adam-moss commented on #110
It appears to, yes

[2018-08-24 07:29] ntomka commented on #111
Yes. I tried outlining, and it works like a charm. But I still don't get why it interfere with --inspect-extensions cmd option. :)

[2018-08-24 13:48] JPinkney commented on #111
I'm not too sure why either. I don't think theres anything on my side thats causing the issue. I wonder if its something in VSCode?

[2018-08-24 13:48] #111 closed

[2018-08-24 13:51] ntomka commented on #111
:man_shrugging: Thanks anyway. :)

[2018-09-03 00:04] bingtimren commented on #112
I also encountered this bug. After format, "!Ref" and "!GetAttr" was removed from my document. I have thought that a formatter should never add or remove any thing rather than white spaces.

[2018-09-06 20:03] zoredache opened #113 "Please provide a method to provide yaml validation, completely without schemas"
I think it is clear from the bunch of issues here that the schema for ansible sucks.  I would like to just completely disable that.

Please either **document** or create a way for me to completely disable use of schemas, but still have basic validation of yaml syntax.

[2018-09-06 20:57] JPinkney commented on #113
Given that this is open source do you want to contribute a way to disable use of schemas? Relevant code: https://github.com/redhat-developer/yaml-language-server/blob/master/src/server.ts#L240.

[2018-09-12 13:10] shaded-enmity commented on #105
@JPinkney This is now fixed upstream and new schemas are in SchemaStore.

[2018-09-12 14:09] JPinkney commented on #105
@shaded-enmity Thanks!

[2018-09-12 14:09] #105 closed

[2018-09-13 15:49] gavinfish opened #114 "Not auto closing brackets when nested in quotes"
When I enter `'{{`, I will get `'{{'` instead of `'{{}}'` in yaml mode. Why does yaml mode not support auto closing brackets in quotes?

[2018-09-13 18:13] fbricon commented on #71
We should make it a default behaviour

[2018-09-15 07:46] DKorchuganov commented on #80
Sorry for a stupid question, @JPinkey, but the above paths are relative to which folder? .vscode or something else?

[2018-09-15 08:17] JPinkney commented on #80
I believe its relative to the root of the project

[2018-09-15 08:53] DKorchuganov commented on #80
Yeah, it works! Thanks a lot!

[2018-09-21 13:07] remcohaszing opened #116 "String "yes" is interpreted wrong"
Given a Kubernetes MySQL deployment file:

[code]

The value `yes` is a string. However, I am getting the following error in VSCode:

Probably the string `"yes"` is incorrectly marked as a boolean.

[2018-09-24 18:41] aaronkjones opened #117 "Error: "Couldn't start client Yaml Support""
I am receiving this error. I wiped all of my settings and only installed this plugin.

[code]

[code]

[2018-09-24 20:01] aaronkjones commented on #117
I apparently didn't wipe out all settings. Reinstalling again fixed.

[2018-09-24 20:01] #117 closed

[2018-09-25 14:53] PZ01 commented on #64
Any reason the format removes comments?(Statements starting with a hash #)

[2018-09-25 18:19] JPinkney commented on #64
The parser does not support comments so when formatting it it just removed it. I’m switching formatters soon and that will fix the problem.

[2018-09-27 05:28] lashchev opened #122 "Use HTTP proxy settings when loading schema"
The extension cannot load schema when HTTP_PROXY and HTTPS_PROXY are properly configured.
Configuring "http.proxy" and "http.proxyStrictSSL" workspace settings does not help.

VSCode-yaml extension v0.0.16
VSCode: (windows portable install)
Version: 1.27.2
Commit: f46c4c469d6e6d8c46f268d1553c5dc4b475840f
Date: 2018-09-12T16:17:45.060Z
Electron: 2.0.7
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.53

[2018-09-27 05:42] lashchev opened #123 "There should be a way to specify Schema file that is part of the project"
During active development, especially for a small or local or private project there is no justification to post schema to some hosted location, like Schema store.

`yaml.schemas` settings should allow specifying `${workspaceFolder}` placeholder in `file:///local-path` or, ideally, just recognize relative path notation

For example: `/schemas/my-schema.json` should mean that schema file is located

[2018-09-27 13:11] JPinkney commented on #123
If i'm not mistaken you can do something like:
[code]
So that "./schemas/my-schema.json is applied to my.schema.yaml.

Relative paths should work.

[2018-09-27 13:27] JPinkney commented on #116
It is marked as boolean because yaml spec says "yes" should be marked as boolean http://yaml.org/type/bool.html

[2018-09-27 13:27] #103 closed

[2018-09-27 13:34] JPinkney commented on #45
I've just tried this and inspected the schema and it looks good to go now. I don't know much about appveyor itself but all the things that should be coming up in autocompletion are now.

[2018-09-27 13:34] #45 closed

[2018-09-27 13:48] remcohaszing commented on #116
No, it doesn’t. In the definition where `yes` is quoted, the quote is used as punctuation. The regular expression doesn’t contain any quotes. Also libraries and tools seem to agree that `"yes"` should be treated as a string.

[code]

[code]

The example in the original issue is part of a valid Kubernetes configuration file. I need to define an environment variable `MYSQL_RANDOM_ROOT_PASSWORD=yes`.

[2018-09-27 13:58] JPinkney commented on #116
It will be fixed in tomorrows release.

[2018-10-01 23:19] JPinkney commented on #112
Hi! This should be fixed in version 0.0.17 (we switched formatters).

[2018-10-01 23:19] #112 closed

[2018-10-01 23:29] JPinkney commented on #87
Upon examination again I think that this isn't vscode-yaml, it looks like for some reason the .yml file is not getting registered as the yaml file type when opened. Though I'm not entirely why it isn't registering _shrugs_

[2018-10-06 10:16] ssbarnea opened #125 "zuul validation schema"
I was planning to write a [Zuul Ci](https://zuul-ci.org/) validation schema so we can use it on OpenStack project but the writing JSON schema for YAML files seems to be a real challange for someone without previous experience.

I still plan to write this schema and contribute it but I will need a headstart as I find hard to write the initial basic validation POC.

Example:
[code]

At root level th

[2018-10-07 07:56] ssbarnea opened #126 "Enable ability to run yamllint tool"
A very popular linter for yaml file is yamllint but this tool is not calling it which means that it would miss to highlight lots of tests done by it.

[2018-10-09 01:28] lashchev opened #127 "DeprecationWarning for Unhandled promise rejections"
"Yaml Support" log shows this error:
[code]
and a lot of errors like this:
[code]

redhat.vscode-yaml v0.0.17

Window 10 v1809 x64
Version: 1.28.0
Commit: 431ef9da3cf88a7e164f9d33bf62695e07c6c2a9
Date: 2018-10-05T14:58:53.203Z
Electron: 2.0.9
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
Architecture: x64

[2018-10-09 01:38] JPinkney commented on #127
Is there any specific action that makes the log show up?

[2018-10-09 01:49] lashchev commented on #123
@JPinkney Your example indeed works, but only in single-folder workspace (at least we couldn't make it work in muulti-root workpsace). Is there any trick on how to make it work in multi-folder workspace?

If feels like it be better to support standard VSCode reference variables as in https://code.visualstudio.com/docs/editor/variables-reference

Could you please clarify what do you mean by relativ

[2018-10-09 07:08] lashchev commented on #127
The following triggers the errors:
1. Opening YAML file (that has schema errors) - leads to error 2 following by error 1 and error 2 again.
2. Changing `yaml.schemas` leads to error 2 in the logs

Changing YAML or schema doesn't produce the errors.

[2018-10-09 15:07] ssbarnea opened #128 "latest travis schema is not used for .travis.yml files"
It seems that extension complains about directories block inside cache but this is covered by the schema published at https://github.com/ssbarnea/schemastore/blob/master/src/schemas/json/travis.json#L755

[code]

This is expected too pass, but in fact it reports `directories` as invalid value.

This makes me think that the schema being used is outdated but I have no idea which schema was used by t

[2018-10-10 04:45] lashchev opened #129 "It should be clear what JSON Schema version is supported"
Sorry, maybe I am looking in the wrong places, but I cannot find any information on what JSON Schema versions are supported by this extension: `draft-04`, `draft-06`, `draft-07`?

[2018-10-10 04:52] lashchev opened #130 ""uniqueItems" array items schema validation is not checked"
If the schema has `uniqueItems=true` set for an array - extension doesn't highlight duplicated items.

redhat.vscode-yaml: 0.0.17
VSCode:
Version: 1.28.0
Commit: 431ef9da3cf88a7e164f9d33bf62695e07c6c2a9
Date: 2018-10-05T14:58:53.203Z
Electron: 2.0.9
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
Architecture: x64

[2018-10-10 06:26] palvarezcordoba opened #131 "Bug (?) with custom autocompletion"
I have a problem similar to #99
I have this config:
[code]

Kubernetes autocompletion works, but if I open wimax.yaml, I have this error:
`Unable to parse content from '/home/xyz/src/github/reef/reef/static/json_editor_schema/wiimax.yaml': .`

Did I something wrong or this is a bug? There is any workaround?

[2018-10-10 06:58] palvarezcordoba commented on #131
Yes, I did.

I was confused, in `yaml.schemas` you define schemas for yaml files, but schemas are in json, not in yaml.

[2018-10-10 10:43] palvarezcordoba opened #132 "Is it possible make a port compatible with monaco?"
I want to use autocompletion in a webapp, is it possible to make a port compatible with monaco?
It will be hard?

[2018-10-10 21:38] JPinkney commented on #132
I've found https://github.com/kpdecker/monaco-yaml and https://github.com/Microsoft/monaco-editor/issues/131. It looks like the first link is an old version of yaml-language-server.

[2018-10-10 21:51] JPinkney commented on #126
This extension is just the client side for https://github.com/redhat-developer/yaml-language-server. I don't think it makes sense to include that tool directly because it doubles up the parse time of the yaml. We would have to run one parse to create the AST thats useable for normal diagnostics/diagnostics with json and then another parse for the yamllint tool for every single change in the yaml.

[2018-10-10 21:55] JPinkney commented on #129
I believe its draft-04 though I'll have to check. A lot of the json stuff was able to be re-used from the json language service so it would be whatever that was when I used some of that code.

[2018-10-12 22:18] shamsalmon opened #134 "Formatter removes Document Start "---""
When turning on format on save it removes document start. This seems like poor practice.

[2018-10-16 00:48] pengx17 commented on #132
@palvarezcordoba I've took @kpdecker 's idea and updated some of the dependences here in my own fork: https://github.com/pengx17/monaco-yaml and published at npm `@alauda/monaco-editor`
It should be working with latest monaco-editor and it baked with a recent yaml-language-server at AMD bundles.

[2018-10-16 00:50] kpdecker commented on #132
Glad to pass maintenance of the monaco-yaml package on if you have the cycles. The project I had using monago didn't end up taking off so I'm not working much in this realm these days.

[2018-10-16 01:06] pengx17 commented on #132
@kpdecker Sure, I am willing to take it over and maintain it with a regular basis.

[2018-10-17 05:48] imroc commented on #127
I got these errors too

[2018-10-18 01:32] lashchev commented on #129
It would be great to document this on the main project page, because json-schema is moving forward and draft-07 is current mainstream for a while now. At least all our schemas are in draft-07.
Draft-08 is coming out soon.

Are there any plans to start supporting draft-07 (Core, Validation, Hyper-Schema, Relative JSON Pointer) any time soon?

[2018-10-18 02:17] JPinkney commented on #129
If I have time then potentially. I work part-time 12 hours per week and am a full-time student so its kind of hard to get to everything when I'm the only one who contributes to this project.

[2018-10-18 20:34] lashchev commented on #129
@JPinkney Thanks for your effort! Not a lot of free time on my side as well, but in case you need any help or the second pair of eyes - feel free to ping me. I won't promise a prompt reply, but will eventually get to the task)

[2018-10-19 12:11] shaded-enmity commented on #105
@ssbarnea Yup, the problem is that LSP (Language server protocol) doesn't really support that in a reasonable manner, I've opened https://github.com/Microsoft/language-server-protocol/issues/519 some weeks back.

I think the problem with `block` is the same thing as using ad-hoc roles inside playbooks etc. can you please help me understand how the `block` thing is commonly used? I've opened
https:

[2018-10-19 12:54] ssbarnea commented on #105
@shaded-enmity Check http://codesearch.openstack.org/?q=block%3A&i=nope&files=.yml&repos= for planty of examples of block usage inside playbooks, is *very* common.

[2018-10-19 14:05] ssbarnea commented on #105
Another problem found:
[code]
The error is that expects string for "cacheable", when we know that bool is clearly acceptable (and likely).

[2018-10-19 21:28] MitBit01 commented on #127
I get these errors once the extension, regardless of whether or not the file is valid Yaml.

[2018-10-22 18:31] celsoandrade commented on #127
I get the same error multiple time

[2018-10-29 08:43] #132 closed

[2018-11-05 21:42] #131 closed

[2018-11-09 22:18] JPinkney commented on #75
Which version are you on and can you post an example

[2018-11-10 03:57] JPinkney commented on #75
Is there any particular case that the comment gets removed?

Formatting

[code]

doesn't remove any comments for me. Do you have any other YAML related extensions installed?

[2018-11-10 06:30] frezbo commented on #75
@JPinkney thanks for helping me out, had another YAML formatter installed. :+1:

[2018-11-10 14:43] JPinkney commented on #75
No worries! I'm glad to see that we could get the issue resolved :)

[2018-11-14 03:17] tristan957 commented on #116
same as "no". Not sure if that was fixed as well

[2018-11-14 03:17] tristan957 commented on #116
Looks like it was. thanks :)

[2018-11-14 23:39] andxu commented on #129
Hi @lashchev, are you using yaml extension together with this extension https://github.com/Azure/vscode-kubernetes-tools ? if so, the schema is provided by the integrated ones generated by me, https://github.com/Azure/vscode-kubernetes-tools/blob/master/schema/swagger-v1.9.3.json, if it is out of date, please provide a test yaml for me and I will update the schema.

[2018-11-16 15:13] rcjsuen commented on #134
I think it uses [prettier](https://github.com/prettier/prettier) to implement this. Perhaps there could be a way to tweak this?

https://github.com/redhat-developer/yaml-language-server/blob/ed82ac4f94226642c87779b222586f38b9989d92/src/languageservice/services/yamlFormatter.ts

[2018-11-16 15:58] JPinkney commented on #134
There's some discussion on it on prettier: https://github.com/prettier/prettier/issues/5013

[2018-11-16 20:22] rvansa opened #137 "Custom tags not working"
I have trouble getting the custom tags working. This are my user settings:

`cat ~/.config/Code/User/settings.json`
[code]
and this is the yaml that fails to be parsed:
[code]
VSCode version: 1.28.2
YAML Support by Red Hat version: 0.1.0
possibly conflicting plugin? Ansible 0.5.2 (extension association is to YAML, not ansible, though).

I'll be grateful for any hints. I've tried restarting VSCode

[2018-11-19 08:36] rvansa commented on #137
`!con` is underlined with `unknown tag <!constantPerSec>`
`: gee` is underlined with `bad indentation of sequence entry`

[2018-11-19 14:09] JPinkney commented on #137
I think in this case you would technically need to do:

"yaml.customTags": [
       "!constantParSec sequence"
 ]

However it looks like there are quite a few bugs in custom tags right now anyways so that won't work currently. I'm working on a fix

[2018-11-19 16:51] rvansa commented on #137
That gets me only halfway: With `!constantPerSec sequence` the `: gee` is underlined with
`unacceptable node kind for !<!constantPerSec> tag; it should be "sequence", not "scalar"`

When I try `!constantPerSec scalar`, it complains about indentation...

Do you plan to include 'any' type as well? Or will you make sure that the same tag can be applied to multiple types? Thanks.

[2018-11-27 16:21] ssbarnea opened #138 "document how to enable schema validation on CI"
vscode-yaml is my favourite vscode plugin and I find it extreamly useful for validating various yaml files and ansible ones in particular.

Still, there is one aspect which is not covered by the tool: how to verify schema on an entire repository from the command line, so we can perform the checks on CI servers.

Before someone argues that this may be outside the scope of the extension please note

[2018-11-27 16:25] fbricon commented on #138
This is out of scope of vscode-yaml. You don't want to run VS Code from a CI build.
The way I see it, you'd need to invoke an npm lib that wraps the yaml language server to be invoked from CLI. If anything, this issue should be moved to https://github.com/redhat-developer/yaml-language-server

[2018-11-27 16:43] ssbarnea commented on #138
@fbricon there is a feature now on github that allows you to move tickets between projects, you only need to enable it on "beta" tab. Worked for me quite nice, with redirect.

[2018-11-27 16:44] fbricon commented on #138
I know, but I don't have the rights to move it to the proper project

[2018-11-27 18:58] segevfiner opened #139 "Word completions on ctrl-space rather than completing possible keys"
I'm getting word completions on pressing ctrl-space, rather than getting completion for possible keys, which I believe would be more useful (They would show descriptions, keys that don't exist yet, etc.).

### Example
`.circleci/config.yml`:
[code]
Try to trigger completion with ctrl-space on the dash after steps.

### Screenshot
![screenshot_2018-11-27_20-48-08](https://user-images.githubusercont

[2018-11-27 19:15] JPinkney commented on #139
![screen shot 2018-11-27 at 2 11 12 pm](https://user-images.githubusercontent.com/8839537/49105345-56a7ab80-f24e-11e8-87ce-ccb3430a8256.png)

It shows results for me. Can you try setting the yaml.trace.server settings to be verbose and tell me what results you get. Also what version of VSCode are you running and what OS?

[2018-11-27 19:38] segevfiner commented on #139
VS Code 1.29.1
Xubuntu 18.04.1 amd64 and also on macOS 10.14.1
vscode-yaml 0.1.0

Log: [2-Yaml Support.log](https://github.com/redhat-developer/vscode-yaml/files/2621569/2-Yaml.Support.log)

In case it's some other extension breaking this, here are the extensions I have on the Linux box:
[code]

[2018-11-27 19:42] fbricon commented on #139
looks like the server returns the proper completion items, but they're not displayed. I've seen the same problem with other extensions. Seems like a vscode issue. What works for me generally is restarting vscode.

[2018-11-30 06:04] YingmingHu opened #140 "Validate JSON array error"
After set `yaml.customTags` to edit AWS CloudFormation template as following:
[code]
Please refer this example:
![image](https://user-images.githubusercontent.com/1429198/49271175-89001580-f4a7-11e8-8018-1d7f937c6d02.png)
Actually, it is a valid yaml fragment.

[2018-11-30 15:16] JPinkney commented on #140
Inside of yaml.customTags join !Join should have type sequence.

yaml.customTags: [
     "!Join sequence"
]

then it should work. When you omit a type it defaults to scalar which may be why the error is being shown.

[2018-11-30 16:36] JPinkney commented on #137
Currently, there are no plans to include (the code that has the issue doesn't live here it lives in http://github.com/mulesoft-labs/yaml-ast-parser/issues iirc).

` Or will you make sure that the same tag can be applied to multiple types? Thanks.`

I hope to do this/someone adds this in the future, it would be very useful.

[2018-12-04 11:48] palvarezcordoba opened #141 "Autocompletion does not work if there is text under the cursor"
If I write a new file, It works nice but if I edit a file does not.

I am using this custom schema: https://gist.github.com/palvarezcordoba/55ea8c948c45475446cb6fff6f91a359

If I try to get suggestions here:
![imagen](https://user-images.githubusercontent.com/37622818/49439824-5a917b80-f7c2-11e8-89b0-0348cc59b82c.png)

It fails because there is more text below.

What happens if I delete that text?

[2018-12-06 16:31] benmontour-wf opened #142 "Multiple types for yaml.customTags"
Hello I'm curious if there is a way to support multiple node types for customTags? For instance in CloudFormation tags some support multiple node types. Below is a list that I attempted to use in my settings.json but this extension only seems to look at whichever it see's first and won't see the other options below. As you can see some tags, such as !GetAtt, support both sequence and scalar node t

[2018-12-06 16:44] tomasaschan commented on #116
With the latest released version of this extension I'm still seeing this error (for the mapping `value: 'Yes'`). Was this fix released yet? If not, when can I expect an update? :)

[2018-12-06 16:48] JPinkney commented on #142
It would need to be added. The underlying support actually comes from https://github.com/mulesoft-labs/yaml-ast-parser so I believe the issue lays in there.

[2018-12-06 16:49] JPinkney commented on #116
The fix hasn't been released yet. I won't be able to do a release until December 20th but that release will include the fix.

[2018-12-07 04:17] adelwin commented on #127
I'm getting the same error, regardless of whether or not the file is valid or not.
It only happens when opening a YAML file, the first one.
My vscode version is 1.29, and running on MacOS Mojave

If there's any other information needed to pinpoint the issue, let me know.

[2018-12-10 04:08] bingtimren opened #143 "Formatter always convert the document indent to 2 spaces even if setting is 4"
If I right click and choose "Format document", even if I have work space setting as follows, the formatter still converts the indent size from my original 4 spaces in the document to 2 spaces. The formatter should respect the settings.

[code]

[2018-12-11 06:07] YingmingHu commented on #140
It works for me. Thank you @JPinkney

[2018-12-11 06:07] #140 closed

[2018-12-11 23:50] zoellner opened #144 "Add backtick to surroundingPairs"
backticks (`) should be added to surroundingPairs.
Use case: I'm using YAML with embedded Markdown
Since backticks aren't otherwise part of YAML I don't think it will have any adverse effects

[2018-12-17 12:06] JakeHendy opened #145 "Having `tasks` as folder suffix in hierarchy causes Incorrect Type error"
If you have a folder (anywhere in the hierarchy of the file) suffixed with `tasks` then you get `Incorrect type. Expected "array".`.

Examples:
[code]

The files must have something in; I've been testing with `AWSTemplateFormatVersion: "2010-09-09"`

Error copied from VS Problems pane
[code]

Result from langauge server:
[code]

[2018-12-22 03:40] JPinkney commented on #134
This should be fixed with version 0.2.0.

[2018-12-22 03:40] #134 closed

[2018-12-22 03:41] JPinkney commented on #116
This should be fixed now!

[2018-12-22 03:41] #116 closed

[2018-12-22 03:42] JPinkney commented on #108
@govindrai Are you still running into this issue or can I close?

[2018-12-23 01:15] govindrai commented on #108
You can close this. I haven’t needed to use the extension in a while.

[2018-12-23 03:05] #108 closed

[2018-12-26 16:56] JPinkney commented on #127
Do you have something like autoformat or something like that on? I'm having a hard time finding the issue because I cannot reproduce

[2018-12-31 14:10] ppatierno opened #148 "Auto completion doesn't work on empty YAML file"
I have the extension installed but with the following behavior ...
If I create an empty YAML file and try to type something then CTRL + SPACE for suggestions I got "no suggestion" so no auto completion.

![no_suggestions](https://user-images.githubusercontent.com/5842311/50561751-05d41880-0d0e-11e9-918f-ea1df3107468.png)

If with the empty file I just press CTRL + SPACE I got suggestion for creati

[2018-12-31 14:30] JPinkney commented on #148
Duplicate of https://github.com/redhat-developer/yaml-language-server/issues/51 I believe

[2018-12-31 14:32] ppatierno commented on #148
It could be but If I write a valid first line and then I try to write something else on the second line, I got no suggestions as well.

[2018-12-31 14:46] JPinkney commented on #148
Are you using the kubernetes schema directly or are you using the kubernetes extension by Microsoft? For the kubernetes schema it should work fine
<img width="669" alt="screen shot 2018-12-31 at 9 39 18 am" src="https://user-images.githubusercontent.com/8839537/50562193-f4741780-0cdf-11e9-8d27-cffb9ccc794d.png">

However, the kubernetes schema currently doesn't support apiVersion: apps/v1 (its in

[2018-12-31 14:50] ppatierno commented on #148
yeah I have the kubernetes extension by Microsoft installed as well. Should I remove that extension for having this one working?

[2018-12-31 15:03] JPinkney commented on #148
You can but because the kubernetes schema currently doesn't support apps/v1 (the PR out just needs to be merged and then it can be fixed here). It will probably show an error underlying that but everything else should work

[2018-12-31 15:05] ppatierno commented on #148
but as far as I understood, even when the PR will be merged, these two extensions are not compatible? I cannot use the Kubernetes extension from MS for handling the Kube clusters and then this extension for the YAML syntax?

[2018-12-31 15:15] JPinkney commented on #148
When the PR is merged the Microsoft people would have to update the schema in their repository. The kubernetes extension is using this extension for everything yaml but they have a custom resolver that feeds the schema into this extension. If they're using the old schema when it resolves then they're feeding in a schema that wouldn't have the correct autocompletion etc. I believe that if you set u

[2019-01-03 23:32] dwtkns commented on #80
I was able to get absolute paths working by using the `file://` URI syntax for local files.

For example, this sort of thing didn't work:

[code]

...but this did:
[code]

[2019-01-14 09:49] Vincz commented on #143
Same here... Regardless of my settings set to 4, it always indents with 2 spaces.
Switching back to the prettier formatter for now, waiting for this to be fixed.

[2019-01-15 02:01] adelwin commented on #127
I don't have vim plugin installed tho.
Maybe do you know what are the customization of your Vim plugin?

[2019-01-17 02:53] hwwilliams opened #149 "Ansible group module shows invalid syntax for variable input"
## Environment
- Extension version: 0.2.1
- OS Type: Windows

## Summary
If you set a variable or loop for the state or system parameters of the group module in Ansible it shows the variable as being invalid syntax for those parameters even though it will accept a variable or loop successfully when the playbook is ran.

## Reproduce steps
Define a basic group section in YML file with name, state,

[2019-01-19 06:19] Shenmin-Z commented on #127
vim plugin specific:
[code]

full settings:
[code]

[2019-01-22 14:22] arnauldvm opened #150 "directives end is not properly detected when validating YAML documents"
According to specs, end of directives is detected by rule "c-directives-end" (https://yaml.org/spec/1.2/spec.html#c-directives-end), i.e. 3 consecutives dashes at the beginning of the line.

However, starting a file like this:
[code]
results in the following error:
`directives end mark is expected (2, 2)`

If I introduce a random character at the beginning of that line, the error does not occur:
[

[2019-01-23 15:05] sampaioletti opened #151 "support $schema convention in yaml file"
Would it possible to support setting the schema within the yml file itself. Either as a top level declaration or as a comment?

i.e.

[code]
or
[code]

[2019-01-23 17:52] AndyJPhillips commented on #137
I'm was getting a similar problem (Cloudformation yaml tags were causing unknown tag errors), I managed to 'fix' it by:

- disabling all dependent VSCode extensions (Ansible etc)
- disabling the YAML extension
- re-enable the YAML extension

For reference my versions are:

VSCode: 1.30.2
YAML extension: 0.2.1

Here's my yaml.customTags:

`"yaml.customTags": [
        "!And sequence",
        "!Equ

[2019-01-23 17:56] AndyJPhillips commented on #137
In more news - as soon as I re-enable the Ansible 0.5.2 extension and reload it breaks the yaml custom tags

[2019-01-25 08:30] peterm0x commented on #98
It would be useful if locally mapped schemas override those from schema store. For example currently AWS SAM is linked to older schema file thus failing to recognize added elements. Also, file naming could not be easily changed due to tooling / company policies.

[2019-01-25 08:36] leifcr opened #152 "Kubernetes schema should support support extensions/v1beta1"
For kubernetes files ```apiVersion: extensions/v1beta1``` should be supported until fully deprecated

Example of error message:
![image](https://user-images.githubusercontent.com/421391/51734383-a6ef8e00-2084-11e9-8b5b-24f8399f8cb4.png)

More information here: https://matthewpalmer.net/kubernetes-app-developer/articles/kubernetes-apiversion-definition-guide.html

[2019-01-25 08:40] leifcr commented on #152
Closing this, as it's server component bug. Reference: https://github.com/redhat-developer/yaml-language-server/issues/58

[2019-01-25 08:40] #152 closed

[2019-01-31 02:46] lashchev commented on #127
@JPinkney I do have auto-save and auto-format on

[2019-01-31 03:49] klw0539 opened #153 "Detect incorrect error for kubernetes api version."
Yaml Verison：v0.2.1.
The extension report some incorrect error on kubernetes apiVersion and some other fields when I create some resource such as "daemonset" , "role"...
![image](https://user-images.githubusercontent.com/34638284/52029422-131f3580-254e-11e9-98a1-3771fe53437c.png)
![image](https://user-images.githubusercontent.com/34638284/52029435-2205e800-254e-11e9-8432-b33b40ee3722.png)

![image

[2019-02-02 18:47] Ash258 opened #154 "Intelisense trigger by schema 'examples' property"
When your [json schema](https://github.com/lukesampson/scoop/blob/master/schema.json) contains [examples property](https://github.com/lukesampson/scoop/blob/a98c56edf399fc6212ec74200e179cca2be0a5cb/schema.json#L355-L376) intelisense should be triggered as in vscode's native json extension.

![Yaml](https://i.imgur.com/1ARiUGW.png)

![Json](https://i.imgur.com/4ysjs72.png)

[2019-02-05 17:20] jbutz commented on #143
I opened looked at the language server and noticed that it is just using Prettier. I opened redhat-developer/yaml-language-server#122 to cover adding the `tabWidth` and `useTabs` settings

[2019-02-05 21:51] JPinkney commented on #143
Using tabWidth is fixed by https://github.com/redhat-developer/yaml-language-server/commit/1458e25926c7189cefc383141f4fad1d14a568b8 but there hasn't been a release yet.

[2019-02-12 08:53] magicsong opened #155 "Nothing happpened when i installed the extenstion"
Is there any extra setting-up before using this extension? Right now nothing changed when i edit ymls (no suggestion, no validation) Following is the log
[code]
i think some request has no response.

[2019-02-12 08:58] JPinkney commented on #155
If you want autocompletion/validation/hover etc you need to use the yaml.schemas setting to associate schemas with files in a glob pattern. Take a look at the Language Server settings in the readme, they show more detail on how to set everything up.

[2019-02-12 09:29] magicsong commented on #155
@JPinkney Very thank! it works now. However , the kubernetes api version which thn extension supports seems to be a little old. For example:
[code]
how can i fix it?

[2019-02-12 09:47] JPinkney commented on #155
You can't yet. The schema has to be updated. See: https://github.com/redhat-developer/yaml-language-server/pull/108#issuecomment-450531325

[2019-02-12 10:13] sandy081 opened #156 "No Reload Adoption: Update `yamlValidation` contributions when extensions are added/removed"
Hi, I am a developer from VS Code and in the last release `1.31`, we added a new feature - no reload is required on installing an extension - https://code.visualstudio.com/updates/v1_31#_no-reload-on-install

But there are some exceptions to it as mentioned in the doc. If the extension is contributing to external contribution points, then the extension requires reload after installing. Hence, we a

[2019-02-12 15:26] #155 closed

[2019-02-13 15:31] ecbrodie opened #157 "Pressing Enter In A List Element Should Start Newline With '-'"
If I am entering in a _list element_ in a YAML document and press enter, it would be nice if this extension begins the new line with a `-` character. This allows me to easily enter in another element into the list, rather than having to type `-` and SPACE every time (imagine me typing a long list and how tedious this can get).

I think this makes a lot of natural sense to me and I have seen other

[2019-02-14 20:49] sebbuku commented on #110
Same thing with .circleci/config.yml. It validates if I rename it to config.yaml.

[2019-02-18 16:16] #139 closed

[2019-02-18 17:12] JPinkney commented on #143
This had been added in the 0.3.0 release!

[2019-02-18 17:12] #143 closed

[2019-02-18 17:20] JPinkney commented on #113
This has been added in 0.3.0. We now have a setting called yaml.schemaStore.enable that when set to false, stops the extension from automatically pulling schemas from the schema store. However, you will still have basic validation of yaml syntax.

[2019-02-18 17:20] #113 closed

[2019-02-18 17:23] JPinkney commented on #98
This has been added in 0.3.0. We now have a setting called yaml.schemaStore.enable that when set to false, stops the extension from automatically pulling schemas from the schema store. Basically, this just means that you will need to set schemas yourself.

[2019-02-18 17:23] #98 closed

[2019-02-18 18:29] JPinkney commented on #88
This will be fixed on the 0.4.0 release happening in the next month or so.

[2019-02-18 18:29] #88 closed

[2019-02-18 20:39] JPinkney commented on #128
I've just tested this out again and it seems to be working for me. I know this issue has been open a while so perhaps the issue has resolved itself. When you get a chance let me know if you can still reproduce on your end and I can look further into it!

[2019-02-18 20:39] #126 closed

[2019-02-18 22:52] JPinkney commented on #125
Hi, sorry for the long delay. A better place to ask this would probably be https://github.com/SchemaStore/schemastore. I only have a little experience with writing the schemas myself so you'll probably find better advice there.

[2019-02-19 12:53] remcohaszing opened #158 "yaml.format.enable setting has opposed effect"
I use prettier to format yaml code. I recently noticed the formatting was wrong. After some digging around, I found out this is because the vscode yaml extension also formats my code, taking precedence over prettier.

When I set `"yaml.format.enable": true`, the code is formatted using prettier. When I set `"yaml.format.enable": false`, or the setting is omitted, the code is formatted using the vs

[2019-02-19 13:57] JPinkney commented on #158
Prettier is the the same formatter that [this extension uses as well](https://github.com/redhat-developer/yaml-language-server/blob/master/src/languageservice/services/yamlFormatter.ts). I'll look into seeing where the flip would be.

[2019-02-20 08:40] remcohaszing opened #159 "Format doesn’t respect prettier configuration"
Prettier supports configuration files. https://prettier.io/docs/en/configuration.html

However, the formatter or this extension ignores use them.

I have the following _prettier.config.js_:

[code]

and the following _.editorconfig_:

[code]

However, my yaml code was suddenly being formatted using double quotes. I didn’t check any other options, the quotes just stood out.

[2019-02-20 08:40] remcohaszing commented on #159
This is how I ran into #158 in the first place.

[2019-02-20 15:56] JPinkney commented on #156
Hi, from my understand all we need to do is add the extensions.onDidChange endpoint and then it should be good. Is that correct?

I've opened a PR to fix that (https://github.com/redhat-developer/vscode-yaml/pull/160) but I just wanted to make sure thats all we need to do on our side.

[2019-02-20 16:14] JPinkney commented on #158
The fix will be available in the next release!

[2019-02-20 16:14] #158 closed

[2019-02-21 17:01] sandy081 commented on #156
I cannot confirm but kinda looks correct. But please test it with the latest insiders and if you are receiving the event when an extension that is using your contribution point is installed and also it is working as expected.

[2019-02-22 08:32] PraiseTheSun-MySunBro opened #161 "Syntax checker shows error on valid YAML syntax"
Basically, this is a valid use case of YAML, but vscode gives an error as "duplicate key" even when there are not duplicates.

This occurs whenever you represent a sequence as keys in **? :** construction.

[code]

[2019-02-23 21:10] koliyo opened #162 "Allow restricting to 1.2 version specification"
I would like to only use the 1.2 YAML specification. Specifically the narrowed specification of boolean values. Eg `y`, and `n` are no longer considered booleans. I would like to specify this in the extension settings.

Concrete example:
[code]

the `y` is highlighted differently in VS Code

[2019-02-24 20:46] pcevela commented on #127
Same issue here. Only other extension is Bash Beautify.
Plugin version 0.3.0

Version: 1.31.1 (user setup)
Commit: 1b8e8302e405050205e69b59abb3559592bb9e60
Date: 2019-02-12T02:20:54.427Z
Electron: 3.1.2
Chrome: 66.0.3359.181
Node.js: 10.2.0
V8: 6.6.346.32
OS: Windows_NT x64 10.0.17134

[2019-02-25 15:16] holynakamoto commented on #142
<img width="1284" alt="screen shot 2019-02-25 at 8 15 24 am" src="https://user-images.githubusercontent.com/407440/53347066-94f84980-38d5-11e9-9f1d-628d1cf2829f.png">

[2019-02-27 11:42] chatelao opened #163 "Outlink - Too large for showing"
A rather little .yaml file (13k Lines) reports "too large for showing" in the outline tab.

[2019-02-27 11:43] chatelao commented on #163
[PSD2 Yaml](https://berlingroup.stackstorage.com/s/35Bq6pldIaUR4Vs)

[2019-02-27 14:05] JPinkney commented on #163
Hi! Apparently VSCode was limiting the amount of symbols that could be displayed in their outline view to 7500 previously and that file was _juuuustttt_ over the limit [1]. However, you're in luck because they removed that limit for the next release. If you try out the insiders build everything works as expected.

[1] - https://stackoverflow.com/questions/54871255/visual-studio-code-file-too-large

[2019-02-27 14:05] #163 closed

[2019-03-02 03:35] JPinkney commented on #156
This has been added and the new api has been adopted. It will be available in the next release.

[2019-03-02 03:35] #156 closed

[2019-03-05 15:19] devoto13 commented on #158
@JPinkney It looks more like this setting has no effect at all anymore, judging from [this change](https://github.com/redhat-developer/yaml-language-server/commit/8c54e34685578ba37f02d137386b80a8821004dd#diff-916156c481141bfcd08c6ae40ce10e00L254) it seems that the option is no longer recognized by the language server.

[2019-03-05 15:24] JPinkney commented on #158
Its fixed as of https://github.com/redhat-developer/yaml-language-server/pull/126 but I have no released yet

[2019-03-07 05:14] JPinkney commented on #157
I'm not _entirely_ sure if this is possible with the LSP. @fbricon Do you by any chance know if this is possible?

Theoretically its simple enough to detect some arbitrary enter and then check if you're currently in an array or map but I'm not entirely sure if there is some way to do that through the LSP.

[2019-03-07 05:17] JPinkney commented on #130
Hmm...... it looks as though the functionality is [there](https://github.com/redhat-developer/yaml-language-server/blob/master/src/languageservice/parser/jsonParser.ts#L399). Are you able to provide some sample schema that I can test it against just so I can see where its going wrong?

[2019-03-07 05:20] JPinkney commented on #127
Thanks everyone for the debugging info! I haven't found the cause yet but all the diagnostics everyone gave should give me a few places to look!

[2019-03-07 10:11] efim-a-efim commented on #137
Same problem here. Looks like Ansible extension breaks YAML custom tags functionality.

[2019-03-08 21:33] max-sixty opened #164 "Easy way to have standard yaml formatting"
(this may be an obvious question - thanks for your patience if so - I'm an infrequent yaml user who couldn't find the answer elsewhere)

I recently installed this extension through kubernetes, and it's awesome that it auto-formats yaml. But it seems to do that with non-conventional formatting (I think?), albeit correct; in particular for the indent of a sequence. This means any existing file I'm e

[2019-03-08 22:39] JPinkney commented on #164
I'm not entirely aware if there is a standard way of how sequences should be formatted in YAML. I've found a few examples where there are spaces after the sequence (like how it currently formats) and no spaces at the start of the sequence (what I think you're looking for). We aren't technically in control of the formatter, it comes from https://github.com/prettier/prettier and I cannot find any se

[2019-03-08 23:41] max-sixty commented on #164
Thanks for the fast and full response @JPinkney . I'll check out that repo. Closing this

[2019-03-08 23:41] #164 closed

[2019-03-14 20:50] ohumbe opened #166 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscode-yaml`
- Extension Version: `0.3.0`
- OS Version: `Darwin x64 18.2.0`
- VSCode version: `1.32.2`

redhat.vscode-yaml-unresponsive.cpuprofile.txt:
`{
    "nodes": [
        {
            "id": 1,
            "callFrame": {
                "functionName": "(root)",
                "scriptId": "0",
                "url": "",
                "lineNu

[2019-03-14 20:58] fbricon commented on #166
Please provide more informations about the circumstances of this issue. Can you share your yaml file?

[2019-03-19 14:07] NikolasKomonen commented on #157
@JPinkney

Checkout what was done for [indention in the xml server](https://github.com/redhat-developer/vscode-xml/blob/master/src/extension.ts#L213).
It does indentation when you have something like:
[code]
you get:
[code]

Maybe this could help.

[2019-03-19 14:54] JPinkney commented on #157
Yep, that should work. Thanks @NikolasKomonen

[2019-03-20 14:30] JPinkney opened #169 "Add printWidth setting"
YAML language server now supports printWidth setting. This setting should be added to the package.json in this repo.

[2019-03-21 19:57] #169 closed

[2019-03-27 06:07] codytwinton opened #172 "Add Config for Array Indentation Spacing"
I'm working with Jekyll for GitHub Pages, which uses the Ruby gem for parsing YAML. This gem prefers this spacing in Arrays:

[code]

However, when auto-formatter is on, this gets converted to:

[code]

Regardless of preference, it would be great to have an option to disable adding space indention for arrays.

[2019-03-27 11:27] boopathi commented on #123
I'd like to use

- `~/schemas/mySchema.json`
- `$HOME/schemas/mySchema.json`

where some schemas are shared between multiple projects.

[2019-03-30 01:29] EpicEric opened #173 "unknown tag <tag:yaml.org,2002:str>"
[code]

The third line causes the error in the title of the issue. Is there currently no support for the [recommended schemas](https://yaml.org/spec/1.2/spec.html#Schema)? If there isn't, there should be at least some documentation on how to add this support locally.

[2019-04-01 17:02] kelbyers commented on #145
This has been driving me nuts. I am using concourse-ci, and have task definition files orgranized matching the recommended best practices:
[code]
All my task files are showing up with this error like this. How can I make this extension properly recognize the valid YAML syntax?

[2019-04-01 17:12] JPinkney commented on #145
I believe it's because when we are pulling from the json schema store someone made a different schema match every YAML file underneath a tasks folder. If you set yaml.schemaStore.enable to false it won't automatically grab schemas from the schema store and you shouldn't run into this issue.

[2019-04-03 07:57] rvansa opened #174 "Go to definition shortcut"
I can't find a way (command, keybinding...) to jump to the schema file, onto element definition to see why the file does not match the template. Is there one?

[2019-04-03 12:42] matalo33 commented on #110
Confirmed this issue is still present

MacOS
VSCode Version 1.32.3 (1.32.3)
yaml 0.4.0

[2019-04-04 08:45] rroblik commented on #127
+1

[2019-04-18 12:13] ibuziuk opened #176 "No Github releases for vscode-yaml"
According to `Installation from Github Release` section of docs it is expected to have github releases, similar to releases for `xml` extension - https://github.com/redhat-developer/vscode-xml/releases. Atm, there are no releases for vscode-yaml  available on GitHub

[1] https://github.com/redhat-developer/vscode-yaml#installation-from-github-release

[2019-04-18 12:15] ibuziuk commented on #176
@fbricon @gorkem will it be possible to create the latest release of the extention in order to workaround che 7 GA VS Code marketplace rate limit error - https://github.com/eclipse/che/issues/12840

[2019-04-18 16:06] fbricon commented on #176
I've created the 0.4.0 release : https://github.com/redhat-developer/vscode-yaml/releases/tag/0.4.0

I'll let @JPinkney push the proper tags for the previous ones, if he wants (prolly no need to go before 0.1.0). Just download https://marketplace.visualstudio.com/_apis/public/gallery/publishers/redhat/vsextensions/vscode-yaml/VERSION/vspackage and attach it manually to the release (until we automa

[2019-04-18 16:24] benmontour-wf commented on #142
Thank you for this fix in 0.4.0!

[2019-04-19 10:24] ibuziuk commented on #176
@JPinkney @fbricon thank you. Presently we do need version `0.3.0` since this one is used in the plugin registry atm - https://che-plugin-registry.openshift.io/plugins/

[2019-04-23 16:12] ibuziuk commented on #176
@JPinkney will much appreciate if you could possibly add `0.3.0` vsix to the dedicated release

[2019-04-23 16:51] fbricon commented on #176
@ibuziuk there: https://github.com/redhat-developer/vscode-yaml/releases/tag/0.3.0

[2019-04-26 01:11] jrnail23 opened #177 "Cloudformation template: result of !Join fails validation for string"
Given the below setup, my cloudformation template is failing validation, as it's (correctly) stating the `Name` property below should be a string, but I'm otherwise properly using the `!Join` function, which should return a string.

Here's a simplified version of my cloudformation template, to demonstrate failure
`mytemplate.cf.yml`
[code]

my `settings.json`
[code]

validation failure
[code]

her

[2019-04-26 02:06] jrnail23 commented on #177
After digging into the code a bit, it seems that the problem here is that `!Join` actually transforms a `sequence` into a `scalar`, but that concept doesn't appear to be supported by the custom tag parsing mechanism.  As such, I'd expect that cloudformation's `!Split` function might be problematic for the same reasons (although in the opposite direction).

Perhaps the problem might be solved by ad

[2019-04-29 12:24] paidhi opened #178 "Overlapping functionality with the VSCode Ansible extension"
The functionality of this extension seems to overlap with the _Ansible_ extension (`vscoss.vscode-ansible`). Both extensions populate the Outline view as well as _Go to symbol_. So all elements are displayed twice.
This is not really a bug but keeps irritating me when working with Ansible and YAML files.

To reproduce:
Install both this extension and `vscoss.vscode-ansible`. Open a YAML file and s

[2019-05-02 01:43] joshuaavalon opened #179 "[Feature Request] Auto formatting for list"
Assume `|` is the cursor.

Currently, when you press enter in the list
[code]
It will add the indentation but not `-`
[code]

I suggest that it should add `-` if you are in a list.

[code]

[2019-05-07 11:46] phyllisstein commented on #95
I'd love to see this as well. For the time being I can sometimes get away with [converting YAML to JSON](https://marketplace.visualstudio.com/items?itemName=tuxtina.json2yaml) and [sorting the result](https://marketplace.visualstudio.com/items?itemName=richie5um2.vscode-sort-json), but it's a pretty silly kludge.

[2019-05-08 14:51] jstrachan opened #180 "is there a way to register optional default schemas?"
we've got a JSON schema file for editing files called `jenkins-x*.yml` for use with VS Code and this extension: https://jenkins-x.io/architecture/jenkins-x-pipelines/#editing-in-vs-code

is there a way we could automate adding this schema into the vscode-yaml extension to avoid users not having to tinker with their `settings.json` file? e.g. adding this default...

[code]
if so am more than happy

[2019-05-08 15:12] JPinkney commented on #180
You should be able to add your schema to the [schema store](https://github.com/SchemaStore/schemastore) api with something like:

[code]

and then as long as a user has the ```yaml.schemaStore.enable``` setting to true (it's true by default) it should automatically associate the schema to the file!

[2019-05-08 16:04] jstrachan commented on #180
@JPinkney many thanks! Creating a PR there now

[2019-05-08 16:12] jstrachan commented on #180
I've raised this PR https://github.com/SchemaStore/schemastore/pull/683 many thanks

[2019-05-08 16:12] #180 closed

[2019-05-10 13:54] #142 closed

[2019-05-10 14:18] matus-cuper opened #181 "Fetch module complains about missing property "path", which has been renamed"
## Environment
- Extension version: 0.4.0
- OS Type: Linux, Ubuntu 18.04.2 LTS

## Summary
I have role which uses fetch module (documentation is here https://docs.ansible.com/ansible/latest/modules/fetch_module.html), where only required fields are dest and src. When I open yaml file with this module, VSCode is complaining about 'Missing property "path" '. I am using Ansible 2.6.3. I am getting th

[2019-05-10 17:15] JPinkney commented on #181
Hi, after looking at the [schema](http://json.schemastore.org/ansible-stable-2.5) that was set it looks like the schema is wrong, not this extension. You can verify this by searching for "fetch" in the schema and it looks like for some reason path is required. Since we are automatically pulling in schemas from the [schema store](https://github.com/SchemaStore/schemastore) we don't have control ove

[2019-05-11 08:02] matus-cuper commented on #181
Hi, thank you for your response.

When I disabled schema store via yaml.schemaStore, the issue disappeared. When I tried to change yaml.schema to use Ansible 2.6 schema, issue persists. I also tried to restart VS code after changing `settings.json`. I also tried substitute `my_file_name` with different values, but without any effect. Do you have any suggestions, what regex should I use for all my

[2019-05-13 01:02] robbie01 opened #182 "Include support for JSON Schema in YAML format"
JSON is already unnecessarily verbose, and JSON Schema definitions don't make it any better. I would like to see support for JSON Schema validation against definitions in YAML format instead of JSON, so we can forget about the format entirely.

[2019-05-13 01:25] gorkem commented on #178
This is because `vscode-ansible` has a copy of this extension (the language server to be precise). There is not much we can do here.

[2019-05-14 07:56] programmer04 commented on #177
It is crucial to fix because many other extensions have **vscode-yaml** as dependency e.g. **Kubernetes**, **Atlassian for VSCode** etc. So when you want to use **vscode-cfn-lint** you have to uninstall them and **vscode-yaml**.

[2019-05-16 09:51] DamirAinullin commented on #177
I have the same problem with cloudformation script and !Join.

[2019-05-20 08:22] NN--- opened #183 "Make .clang-format to be recognizable as YAML"
As well _clang_format.

[2019-05-20 21:54] teq0 opened #184 "Glob parsing incorrect for folders with wildcards"
If I have a folder structure like
[code]
and settings like
[code]

the first `*` in `"dogs/*/*.yaml"` is causing it to recurse so that `dog.schema.json` is being applied to the `toys` subfolder. Correct glob syntax for that would actually be `"dogs/**/*.yaml"`

Not sure but from looking at the code this might be a VS Code thing?

[2019-05-20 22:31] teq0 commented on #184
Actually that's not exactly it, although that does happen. It seems like it's applying any pattern recursively, so
[code]

would still apply `dogs.schema.json` to the contents of the `toys` folder.

[2019-05-21 08:34] cristim commented on #109
I have a similar issue, maybe related to this:

![image](https://user-images.githubusercontent.com/95209/58080721-fe75b480-7bb3-11e9-83f7-b39daee154cf.png)

[2019-05-24 14:28] JPinkney commented on #183
Fixed in 0.4.1!

[2019-05-24 14:28] #183 closed

[2019-05-28 16:44] gorkem opened #185 "deprecate kedge support"
kedge is not very active anymore, I think we can deprecate the built-in support for kedge at this time.

[2019-05-28 18:45] JPinkney commented on #137
The ansible extension uses a fork of this one for some reason :man_shrugging: and because of that we can't actually stop it from showing the error see: https://github.com/redhat-developer/vscode-yaml/issues/178 but it looks like the actual issue was fixed so I'm going to close the issue

[2019-05-28 18:45] #137 closed

[2019-05-28 20:00] smiller171 commented on #137
I'm not able to get it working even after disabling the Ansible extension unfortunately.

[2019-05-28 20:02] JPinkney commented on #137
@smiller171 Can you open a new issue with your custom tags and also a picture whats in the text document (similar to what was posted in the issue) and other extensions installed.

[2019-05-30 09:02] korwalskiy commented on #117
@aaronkjones Could you describe how to go about wiping out all settings. Facing this issue at the moment.

[2019-05-30 16:23] JPinkney commented on #117
@korwalskiy Just to make sure, do you have https://marketplace.visualstudio.com/items?itemName=redhat.vscode-yaml installed and not https://marketplace.visualstudio.com/items?itemName=adamvoss.yaml ? If you do have redhat.vscode-yaml installed can you open a new issue with your os, vscode version, this plugin version etc etc

[2019-06-11 06:33] RiaanBurger commented on #181
Thanks for getting this far @matus-cuper - same thing here. I add this to my settings so that YAML files in my `host_vars` don't throw errors:

[code]

But fetch still shows the error for path. Many ansible users also use latest, though the newest schema is 2.7 and it looks like there are no scripts here that generate the schemas nor did I find them as a resource somewhere else. Rather, it looks l

[2019-06-12 12:40] #129 closed

[2019-06-13 21:25] fanttazio commented on #117
I still have this issue:

`[Error - 10:13:57 PM] Starting client failed
Error: spawn /Applications/Visual Studio Code.app/Contents/Frameworks/Code Helper.app/Contents/MacOS/Code Helper ENOENT
	at Process.ChildProcess._handle.onexit (internal/child_process.js:229:19)
	at onErrorNT (internal/child_process.js:406:16)
	at process._tickCallback (internal/process/next_tick.js:63:19)`

Code version:
Vers

[2019-06-20 13:51] nomoresecrets commented on #87
had the same issue with *.yml files not being recognized as "Yaml" filetype, Check your settings (user, directory and workspace) for "files.associations" settings.

[2019-06-20 13:56] JPinkney commented on #87
@nomoresecrets In your case did one of your plugins associate yml files with some other type? It looks like the vscode-ansible extension for example associates *.yml files with ansible (https://github.com/VSChina/vscode-ansible#usage) and i'm guessing that overrides the default association with yaml

[2019-06-20 14:16] nomoresecrets commented on #87
yeah, I had manually set the association to "ansible" in all three settings files which drove me crazy b/c I didn't know you can have three different files^^

[2019-06-25 21:32] cybercussion commented on #177
If it helps I notice I don't get the issue on a S3 WebsiteBucketPolicy Resource, but I do get the !Join not a string issue on a CloudFront Distribution Properties Origins DomainName.

[2019-07-01 15:49] Vidminas opened #190 "Extension file system watchers"
In `extension.ts` when the client options are created, these parameters are passed in:
[code]
I am not really sure what the first FileSystemWatcher does - commenting it out does not break language server functionality (on the server side, the `documents.onDidChangeContent` listener events still get fired whenever a change occurs).

If I am not mistaken, the functionality that changes is for the `c

[2019-07-02 00:23] bfelbo opened #191 ""Unknown tag" error when validating sets"
This works just fine as YAML:
[code]

However, this extension redlines it and gives the following errors:
[code]

According to https://github.com/adamvoss/vscode-yaml/issues/16, it's possible to add these tags to your own settings, but I can't find the right name to add them with.

[2019-07-09 21:01] itowlson opened #192 "Array item properties are created with the wrong indent"
I have a JSON schema which contains an array property.  The array item type is an object with properties.  The desired layout is like this:

[code]

When I add the array using tab-completion, RH YAML correctly inserts a starting array
element with the correct indentation:

[code]

But when I add a second array element by tab-completing the name, it does not indent the sub-properties:

[code]

Furt

[2019-07-10 10:13] ajouve opened #193 ".gitlab-ci.yml environment error"
Hi,

I have the flowing error in my `.gitlab-ci.yml`

[code]

For

[code]

Is there any way to fix ti ?

[2019-07-10 10:45] JPinkney commented on #193
That isn't an error, that is the hover message. If you look in the problems panel it says "Incorrect type:
expected object".

According to what I found in the [docs](https://docs.gitlab.com/ee/ci/environments.html) environment expects an object not a string so it should be something like
[code]

[2019-07-10 16:43] bdarlt commented on #173
I'll "me too" this by linking to the other parts of the specs.
[YAML 1.2 specification](https://yaml.org/spec/1.2/spec.html#id2761292)
[YAML 1.1 specification](https://yaml.org/spec/1.1/#id858600)
[YAML 1.0 specification](https://yaml.org/spec/1.0/#id2490971)

Some call it type casting, some call it explicit types, and the YAML folks call it Explicit Tags. Since 1.0, according to the above specs.

[2019-07-10 17:15] Stono opened #196 "Schema validation doesn't work on files named `values.yaml`"
This is baffling me, if i name my file _anything_ other than `values.yaml`, it works fine, for example `bacon.yaml`.

[code]

The second i use `values.yaml`, autocomplete doesn't work at all.

[2019-07-10 17:41] Stono opened #197 "yaml.schemas seem to be cached and don't auto update"
Any tips on how to clear the cache?  I can't even append a `#some-number` to the url, because the nested resolved schemas are cache.

[2019-07-10 17:47] JPinkney commented on #197
Other then refreshing vscode (which I think _should_ work) there isn't a built in way to do it that I can think of.

[2019-07-10 17:47] Stono commented on #197
Possible dupe of https://github.com/redhat-developer/vscode-yaml/issues/128

[2019-07-10 17:53] JPinkney commented on #173
I've just looked into this and it looks like the parser we use uses an alternate schema instead of the fail safe schema by default. Should be a simple fix.

[2019-07-10 17:58] JPinkney commented on #196
I've just tested on my machine and doing something like
[code]

works for me and there is [no conflicting schema store files](https://github.com/SchemaStore/schemastore/blob/master/src/api/json/catalog.json) with values.yaml . Out of curiosity can you try values.yml?

[2019-07-10 18:02] Stono opened #198 "Autocomplete doesn't fill a "required" field with a default value"
Pretty much as the title says really, if a field has a "default" value, but is in the "required" section, it will not autocomplete in the editor with the default value

[2019-07-10 18:03] Stono commented on #196
Hey thanks for the prompt replies this evening @JPinkney.

`values.yml` works just fine

[2019-07-10 18:03] Stono commented on #197
Actually it was being updated, however the behaviour of "default" made me think it wasn't working.

See: https://github.com/redhat-developer/vscode-yaml/issues/198

[2019-07-10 18:03] #197 closed

[2019-07-10 18:05] Stono commented on #196
So I've got:
[code]

And two files, `bacon.yaml` and `values.yaml`.

`bacon` works just fine, `values` does not.  I'm wondering if it's a conflicting plugin (I have helm+kubernetes installed too and they use the same yaml lang server)

[2019-07-10 18:06] Stono commented on #196
Nope, removed the kubernetes plugin and still ney joy.

[2019-07-10 18:07] Stono commented on #196
<img width="608" alt="Screenshot 2019-07-10 at 19 07 25" src="https://user-images.githubusercontent.com/1486729/60993269-021cf080-a346-11e9-9920-a319ca0fc4f3.png">
<img width="473" alt="Screenshot 2019-07-10 at 19 07 32" src="https://user-images.githubusercontent.com/1486729/60993271-02b58700-a346-11e9-9c08-fcb6c6f23e95.png">

[2019-07-10 18:10] JPinkney commented on #196
OH I think I know why. For some reason your values.yaml file does not look like its set to the YAML language type. If you do ctrl+p and then Change Language Mode and then YAML I believe it should work (the only reason I know is because your values.yaml icon is not the one VSCode uses for YAML). I have no idea why it wasn't set correctly when you originally created the yaml file though. Looks like

[2019-07-10 18:15] Stono commented on #196
That sorted it!
How bloody odd, thank you!

[2019-07-10 18:16] #196 closed

[2019-07-11 09:39] DanielvanderZee opened #199 "Syntax checker for ansible blockinfile module shows error on valid syntax."
Steps to reproduce:
Create a YAML file with:
[code]

Expected result:
Valid Ansible file

Observed result:
1 Problem: `Missing property "dest".`

As of Ansible 2.3, the blockinfile module has been changed. The parameters `dest`, `destfile` and `name` have been replaced with `path`. The syntax checker does not recognize this new syntax.

[2019-07-11 14:02] JPinkney commented on #199
It looks like the problem has to do with one of the ansible schemas. By default the extension pulls in the [ansible 2.5 schema](https://github.com/SchemaStore/schemastore/blob/master/src/api/json/catalog.json#L15) but it looks like the schema must not be correct (though I'm not experienced enough in ansible to know). However, because those schemas don't live in this repository (we pull them from t

[2019-07-11 19:10] Groumy commented on #127
If I may, I have the same issue with a french os.

It might not be the issue, but it is an issue with so many tools, that I feel obligated to share ;)

[2019-07-13 08:02] JohannLai commented on #192
I had the same problem.

[2019-07-13 08:15] JohannLai opened #200 "auto completion error on Object"
my json schema:
[code]

the result of auto completion:
[code]

[2019-07-15 07:42] AndiDog opened #201 "String-typed anchor marked with error 'Incorrect type. Expected "object".' if filename is .gitlab-ci.yml"
Example:

[code]

It seems the extension lints the content against certain schemas. If the filename is `.gitlab-ci.yml`, and only then, the following errors show up (i.e. at two places):

[code]

This is valid YAML, and also accepted by GitLab runners, since dotted keys like `.some_key` are ignored and can therefore be used for anchors.

[2019-07-17 22:31] itowlson opened #202 "Refresh the schema for a loaded document"
I have a situation where:

* I need to fetch schemas from a remote location
* Schemas can change when updates are deployed to the remote location

(Specifically, the environment is Kubernetes custom resource definitions, where the schemas in a cluster depend on what CRDs are deployed, and a CRD schema can change when the CRD is updated.)

My current approach is to have a fallback schema while I wa

[2019-07-18 12:34] gorkem commented on #185
@JPinkney can you update the references to kedge on the README ?

[2019-07-20 08:22] kshaanu opened #203 "unable to work"
vscode is not working is not working

[2019-07-20 08:25] fbricon commented on #203
http://goo.gl/tnBgH5

[2019-07-22 16:37] squillace commented on #192
@JPinkney should we submit a PR?

[2019-07-22 17:02] JPinkney commented on #192
@squillace Yes preferably

[2019-07-23 07:24] andxu commented on #192
hi @itowlson , I have a different result using the latest vscode and RH-yaml on marketplace, did I misunderstand something?

![test](https://user-images.githubusercontent.com/17075863/61691323-e4945180-ad5d-11e9-8ee5-941aee9a9cfa.gif)

[2019-07-23 07:55] itowlson commented on #192
@andxu You're definitely getting the output we want.  Could you post your schema or a screenshot of your schema please?  It's disappearing too quickly for me to read it off the GIF - sorry.

[2019-07-24 01:33] andxu commented on #192
[code]

[2019-07-24 01:35] squillace commented on #192
Thanks so much for following up on this @andxu. @itowlson?

[2019-07-24 02:15] itowlson commented on #192
@andxu That looks right for the repro.  Let me check I'm up to date with everything and try again.  Thanks!

[2019-07-24 02:24] itowlson commented on #192
@andxu I'm on VS Code 1.36.1 and YAML 0.4.1.  Those both look up to date to me.  And I pasted your schema into my schema content callback.  But I'm still seeing the problem.  I wonder what's different between our two environments?

@JohannLai I saw you thumbs-upped Andy's schema - is that working for you, or still giving the same problem?

[2019-07-24 02:30] itowlson commented on #192
@andxu I noticed your entries are indented by 4 whereas mine are indented by 2.  I am clutching at straws here, but are you using tabs or spaces?  Where is your indent configured?

[2019-07-24 02:32] itowlson commented on #192
@andxu If I switch to tabs I get the desired behaviour as shown in your GIF (except for a wiggly saying 'tabs can lead to unpredictable results').  Could you try switching to spaces and see if that reproduces the error for you please?

[2019-07-24 02:55] itowlson commented on #192
@andxu The plot thickens.  It's not tabs vs. spaces.  It's indent size 2 vs. indent size 4.  I have indent size 2, and get the misalignment.  If I change it to 4, everything works.  (And if I use tabs, but with a size of 2, it goes wrong again.)

[2019-07-24 03:06] JohannLai commented on #192
I'm not sure it works. I think it's worth a try. I'll try it later.

[2019-07-24 04:48] itowlson commented on #192
@andxu @squillace got confused about which indent I was referring to because apparently the YAML extension has tab conversion stuff of its own, so for avoidance of doubt it is this one - works when set to 4, shows the bug when set to 2.  No YAML-extension-specific settings in play.

![image](https://user-images.githubusercontent.com/865538/61765844-d2381780-ae32-11e9-8078-b3219ca6b29a.png)

[2019-07-24 05:05] squillace commented on #192
@andxu I repro @itowlson's explanation. I have a default of 2 spaces on my VS Code, and I get the following when using with `Spaces: 2`. This is incorrect autocomplete.

![image](https://user-images.githubusercontent.com/1422718/61766320-4de38700-ad95-11e9-8dd0-bf100928b76d.png)

if I then switch to `Spaces: 4` I get the following, which is what you get.

![image](https://user-images.githubusercon

[2019-07-24 16:56] JPinkney opened #204 "Introduce an issue template"
We should introduce an issue template that tells users every schema but kubernetes is pulled in from https://github.com/SchemaStore/schemastore and that if it looks like there's an issue with the schema then file an issue there.

As time goes on and schemas get added its hard to have to do the triaging/fixing of schema issues that aren't the fault of vscode-yaml. If and only if its not an issue wi

[2019-07-24 16:56] JPinkney commented on #201
I'm not too sure on gitlab specific syntax because that's being pulled in from https://github.com/SchemaStore/schemastore but if it's being accepted by gitlab ci then I'm assuming everything should be working.

Since this looks to be an issue with an external schema -- rather than vscode-yaml itself, can you file this issue https://github.com/SchemaStore/schemastore instead

[2019-07-24 17:23] JPinkney commented on #202
Sorry for the late reply,

As far as I can think of there currently isn't a supported way of doing this inside of vscode-yaml. However, with some sort of added API I think this is definitely possible.

The API could be pretty simple and basically allow any extensions that depend on vscode-yaml to send the schema (with a field such as should refresh) from their extension to vscode-yaml which will f

[2019-07-24 17:24] JPinkney commented on #193
@ajouve Out of curiosity was this able to fix your issue? If yes, I'll close the issue

[2019-07-25 00:20] itowlson commented on #202
That sounds pretty good.  I'll see if we can resource this.  One thing I'd like to look at is triggering a validation on schema change, not just waiting for something else to trigger re-requesting the schema - the reason for this is e.g. VS Code starts with an interesting document open; we have to synchronously provide a schema so provide a generic 'best guess' schema from local resources, and RH

[2019-07-25 00:40] andxu commented on #192
Looks funny, I will test it on different indents to figure out the root cause.

[2019-07-25 00:42] squillace commented on #192
:-) Thanks, @andxu, thanks so much for tolerated us. :-) Let us know what you find!

[2019-07-25 09:03] andxu commented on #192
When this plugin provides completion text for the sample yaml below, the snippet vscode-yaml provides is `"helm:\n\tname: $1"`  with `insertTextFormat`(in the case of error indents: 2),  which will result in the final code change of `"text": "install:\n■■-■helm:\n■■■■name:■"`(I replaced spaces with '■'), if I change the indents to 4,  the same snippet will result in "install:\n■■-■helm:\n■■■■■■nam

[2019-07-25 09:19] itowlson commented on #192
@andxu Thanks for the update. I wonder if it’s also worth looking at what is different about the case where the array item type is specific instead of an anyOf - per the initial bug report, this caused the FIRST array element to indent correctly even with an indent if 2... but still got it wrong on subsequent elements...

[2019-07-25 09:25] andxu commented on #192
The indent settings in vscode will cause the spaces(if you don't use 'space' other than 'tab') added at the
baseline of the first '-' in `-helm`, so  it gives the following result:
[code]
[code]

[code]

[code]

[2019-07-25 09:30] andxu commented on #192
So I think it is a bug in yaml language server generating the snippet at the wrong indent on array objects.

[2019-07-26 09:06] AndiDog commented on #201
Makes sense, since vscode-yaml shows no issue with a different filename.

[2019-07-26 09:06] #201 closed

[2019-07-26 09:14] lowerzero opened #205 "Unable to disable autocompletion"
Extension version 0.4.1
Here is my settings:
[code]

but during editing yaml files autocompletion being triggered automatically after key pressing. How can I disable it ?

[2019-07-26 18:58] JPinkney commented on #205
Hmm, so its definitely a bug if completion isn't turning off with your settings. Adding

[code]

to your settings should turn it off though.

[2019-07-27 01:20] virusdefender opened #206 "Unable to auto-complete the second block"
My schema is

[code]

Settings is

[code]

It seems the auto-complete will not work on the second block

For example,

you type `rules`, vscode auto completes, and then you type `name`, nothing will show

you type `name`, vscode auto completes, and then you type `rules`, nothing will show

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/4939404/61988097-aba2f800-b04f-11e9-8b16-

[2019-07-27 02:31] JPinkney commented on #206
The reason is because it's not sending a `textDocument/completion` request to the server when the second item is starting to be typed. If you do ctrl+space it will autocomplete correctly. Without the `textDocument/completion` request the server side can't know to autocomplete. I'm not sure if we can fix this without setting trigger characters because they have a few issues: https://github.com/redh

[2019-07-27 21:36] quintent opened #207 "Support YAML front matter in Markdown files"
## Summary
`vscode-yaml` should apply schema validation to YAML front matter in markdown files.

## Description
YAML is often prepended to markdown files to provide structured metadata. This "front matter" pattern is commonly implemented by static site generators, including [Hugo](https://gohugo.io/content-management/front-matter/), [Gatsby](https://www.gatsbyjs.org/docs/mdx/markdown-syntax/#front

[2019-07-28 11:23] joshuaavalon opened #208 "Invalid validation with oneOf and const"
## Data
**Schema**

[code]

**YAML**

[code]

## Expected

No Error

## Result

I get the following error on `name`.

[2019-07-29 03:24] andxu commented on #192
I will post a PR before 08/05.

[2019-07-29 13:45] JPinkney commented on #208
This is actually because the current version released on the marketplace doesn't support JSON Schema 6 or 7 (I believe const was from JSON Schema 6) . When testing it out on the newest version of the YAML language server it doesn't throw any errors.

The version supporting JSON Schema 7 should be released within a couple weeks.

[2019-07-29 13:50] JPinkney commented on #206
Interestingly enough I was testing it out and in your gif do you see how when you autocomplete name it shows kind of like a grey over 'ok'. I found out that if you click the escape key then autocomplete will work on the next line

[2019-07-30 01:02] virusdefender commented on #206
actually, if you press `esc` after each line, sometimes it can work.

[2019-07-31 15:32] lowerzero commented on #205
@JPinkney Thank you a lot! It does help.
Is it anywhere in documentation? I can find mentioned section "[yaml]".editor. quickSuggestions but I can't find what it should look like (like in your comment)

[2019-08-04 14:31] max06 opened #209 "Enable formatter for "Ansible"-Language"
Good evening.

I installed the vscode-ansible extension to make use of their syntax highlighting and snippets. For that I changed the file-association in this project to "Ansible". Now I want to use your yaml formatter to automatically clean up the files I'm working on.

Sadly, vscode complains about a missing formatter for the "ansible"-language, and I haven't found any possibility to bind your f

[2019-08-04 23:48] branttaylor opened #210 "Unable to load schema from 'kubernetes://schema/monitoring.coreos.com/v1@prometheusrule': No content."
Issue Type: <b>Bug</b>

Opened a .yaml file and I'm getting this error at the top of the file, and the file path is red:

Unable to load schema from 'kubernetes://schema/monitoring.coreos.com/v1@prometheusrule': No content.

Extension version: 0.4.1
VS Code version: Code 1.36.1 (2213894ea0415ee8c85c5eea0d0ff81ecc191529, 2019-07-08T22:56:38.504Z)
OS version: Darwin x64 18.7.0

<details>
<summary>Sy

[2019-08-04 23:52] JPinkney commented on #210
By any chance did you set anything in yaml.schemas? Or are you using the kubernetes extension?

[2019-08-04 23:56] branttaylor commented on #210
@JPinkney I'm using the Kubernetes extension. I wasn't sure how it interacted with this extension, but I noticed that the Kubernetes extension depended on this one. I've now disabled the Kubernetes extension but enabled the YAML one, and I'm not seeing the error. Safe to say that I should move this issue over to them instead?

[2019-08-05 00:02] JPinkney commented on #209
I don't think we would be able to add it in here since that extension looks like it spawns up their own language server.

If we registered our features for ansible file-associations I believe hover, syntax validation, document symbols etc would all throw duplicates because there would two language servers running.

Since they decided to spawn up their own language server, rather than depending on

[2019-08-05 00:13] JPinkney commented on #210
It looks like its an issue with the Kubernetes extension rather than this one

[2019-08-05 00:19] branttaylor commented on #210
Agreed. Thanks @JPinkney for your quick response!

[2019-08-05 00:19] #210 closed

[2019-08-05 12:21] max06 commented on #209
Thank you very much for looking into this 👍

I'll open an issue with them, maybe they can solve this on their side ☺️

[2019-08-05 12:21] #209 closed

[2019-08-06 07:30] virusdefender opened #211 "vscode suggestion should respect the enum order"
I'm using the schema from https://chaitin.github.io/xray/assets/yaml-poc-schema.json

![image](https://user-images.githubusercontent.com/4939404/62519791-df0b3100-b85e-11e9-996f-9851c99dc574.png)

It seems the suggestion items are ordered by dict order?

![image](https://user-images.githubusercontent.com/4939404/62519721-bedb7200-b85e-11e9-9409-49952247bf1b.png)

I think it should respect the orde

[2019-08-06 07:49] fbricon commented on #211
I believe this is VS Code itself listing enums alphabetically, I don't think we can do anything about it on our side

[2019-08-06 20:51] jorng commented on #107
The only way I was able to work around this was to download the file locally and provide a `file:///` URL:

[code]

[2019-08-07 23:20] #192 closed

[2019-08-07 23:59] itowlson commented on #192
Thanks for the fix @andxu (and for the review @JPinkney)!

[2019-08-09 00:28] andxu commented on #192
once the yaml LS is published at npm, I will update the vscode-yaml here.

[2019-08-09 07:00] joshuaavalon opened #212 "Error are thrown when VSCode format on save"
## VSCode Setting

[code]

## YAML

[code]
## Error
[code]

The error shows up when you save a YAML that last row has empty value.

[2019-08-13 11:39] at-bachhuynh opened #213 "Incorrect type. Expected "string" when install this."
My CircleCI file always announce this error when enable this extensions.
![image](https://user-images.githubusercontent.com/16200158/62938654-a25cae00-bdf9-11e9-8ca4-18784bbf151e.png)

Everything will be OK when disable the extensions.
![image](https://user-images.githubusercontent.com/16200158/62938607-8953fd00-bdf9-11e9-94aa-2915f00bdc8f.png)

Is there any way to fix it?

[2019-08-13 12:51] JPinkney commented on #213
I'm guessing the upstream schemas that we use from the [json schema store](https://github.com/SchemaStore/schemastore) says that anything under references should be a string and thats why you are getting an error.

If this assumption is incorrect (I don't have much knowledge of circleci) then file an issue on that repository and it will be changed.

For now, you can disable the schema store by set

[2019-08-14 01:43] at-bachhuynh commented on #213
Thank @JPinkney, It works when disable yaml.schemeStore!

[2019-08-21 20:52] iDVB opened #215 "Server initialization failed: Scheme is missing"
This is the error I get when starting VSCode and if I reinstall the extension.

![image](https://user-images.githubusercontent.com/189506/63467724-1586a580-c434-11e9-8ad1-39cbb25ca994.png)

[code]

![image](https://user-images.githubusercontent.com/189506/63467782-32bb7400-c434-11e9-8482-6d6ad1e02063.png)

[2019-08-21 21:03] iDVB commented on #215
Even tried downgrading back to ...
![image](https://user-images.githubusercontent.com/189506/63468244-5fbc5680-c435-11e9-8d88-d4d3a7eab85e.png)

Uninstalled extension and restarted VSCode.
Still no luck.
Literally in the middle of authoring a course in which I was showcasing this extension.
😢

[2019-08-21 21:11] JPinkney commented on #215
I've just done a fresh install of vscode and a fresh install of the extension and I cannot reproduce. Can you set the yaml.trace.server setting to be verbose and the output dropdown to be YAML support and let me know what it shows

[2019-08-21 21:16] iDVB commented on #215
Absolutely. Sorry though, I have no idea how to do any of that.

I'm guessing the `yaml.trace.server` is just adding a line to my user.settings as....
`"yaml.trace.server": "verbose",`

no idea on the output though.

[2019-08-21 21:23] JPinkney commented on #215
In your vscode user settings add "yaml.trace.server": "verbose" and then that's basically going to enable some logs for us.

Then when you're in this output view:
![image](https://user-images.githubusercontent.com/8839537/63469273-d22e3600-c437-11e9-95cc-64dde8c5757f.png)

where it says `Tasks` you'll need to click the dropdown and then select YAML support:
![image](https://user-images.githubuserc

[2019-08-21 21:25] iDVB commented on #215
Yes I only get this error with the extension installed and if I open a yaml file.

Ok I think I figured how to do what you're asking.... but don't really see any helpful output.

I set verbose in the user settings.
Then I selected `Yaml Support` in the output dropdown.
![image](https://user-images.githubusercontent.com/189506/63469570-8f209280-c438-11e9-80ce-33606ec96e4b.png)

this is the output b

[2019-08-21 21:39] iDVB commented on #215
This is a video of what I'm seeing....
https://www.screencast.com/t/e04XxHZKQYF

[2019-08-21 21:40] JPinkney commented on #215
I think I know what's happening. Basically in the logs
[code]
are both null and then
[code]
is null as well so it looks like theres something wrong on the yaml language server side. I should be able to have a fix by tonight or tomorrow at the latest.

Just to double check something, are you trying to use the extension without opening up a workspace or project or folder in vscode? Because for now i

[2019-08-21 21:40] JPinkney commented on #215
Ah yeah, I just saw the video and it confirmed my suspicions. I should be able to fix that on the yaml language server and then i'll update this extension when that fix is available

[2019-08-21 21:51] iDVB commented on #215
@JPinkney Ah... so it's a legit bug? How did it get introduced, I've had these working for a while now.  It seemed to have borked sometime within the last few days?

That would be AMAZING if you found a fix. Like I said, literally in the middle of screen recording for a course on CloudFormation and showing/suggesting this extension.

[2019-08-21 21:58] iDVB commented on #215
Weird... I thought I tested that.... but you're right... it doesn't error out with a folder open.

However... it still does not seem to work with this extension....
https://marketplace.visualstudio.com/items?itemName=aws-scripting-guy.cform

I had this one working before... but now ever since I started getting this error... this extension also does not work.

[2019-08-21 22:31] JPinkney commented on #215
I've released the new version with the fix and it seems to be working on my side. I'll quickly take a look into that other extension to see if I can find the error but no guarantees

[2019-08-21 22:36] JPinkney commented on #215
I've just tested the other extension and it seems to be working fine for me. AFAIK it only contributes snippets and I don't know much about cloud formation so I've just been importing snippets and creating errors/testing the yaml

[2019-08-21 22:43] iDVB commented on #215
Kk, thanks I’ll keep trying.
Did you try it before or after your fix?
How can I get the fix?

[2019-08-21 22:54] JPinkney commented on #215
I tried it after the fix. The fix should be available on the marketplace now, I've released version 0.5.1 of vscode-yaml. Inside of vscode if you go view -> extensions -> and then search `@installed vscode-yaml` in the search bar you should see 0.5.1 as the version. If your version is 0.5.0 then try reloading your vscode and then it should auto update.
![2019-08-21-185033_435x572_scrot](https://us

[2019-08-22 00:21] iDVB commented on #215
Fixed! Yup. Well it fixed the issue that was erroring.
I still can't get that other extension to work anymore.

Nw though I'll reach out them about that one.
Thanks for your speedy action on this one though!
Much appreciated!

[2019-08-22 00:45] #215 closed

[2019-08-22 02:28] itowlson opened #216 "Registered custom schemas stopped working in 0.5.0"
In 0.4.1 you could call `registerContributor` on the extension API object and get intellisense - e.g. code completion, red wigglies, hover text, etc.  In 0.5.0 this stopped working - no error but you get no intellisense.

To reproduce, create a new VS Code extension via `yo code` and add an `onLanguage:yaml` activation event.  Then paste the following as the new contents of `src/extension.ts`:

[c

[2019-08-22 02:37] itowlson commented on #216
In 0.5.1, the extension activates successfully, but if you set a breakpoint on `onRequestSchemaURI` it is never hit.

[2019-08-22 21:21] itowlson commented on #216
The bug appears to have been introduced in the "Update to 0.5.0" commit itself (the previous commit works).  The only relevant change in that commit is updating the language server from 0.4.1 to 0.5.4.  So it looks like this is a language server issue...

[2019-08-22 23:12] neta540 opened #217 "JavaScript heap out of memory"
Running version 0.5.1.

[code]

[2019-08-22 23:22] neta540 opened #218 "Problems with OpenAPI yaml files"
Problems on version 0.5.1 and 0.5.0, when working with openapi yaml files.

I have used one of the openapi examples. File can be seen [here](https://github.com/OAI/OpenAPI-Specification/blob/master/examples/v3.0/petstore.yaml)

I'm getting errors such as:

[code]

This is happening on each line with a reference for schema starting with a `#`.

[code]

It appears to me that this version does not ho

[2019-08-22 23:43] itowlson commented on #216
It looks like the issue was introduced to the language server on 26 May.  Here are the relevant commits from that time (links are to my fork, sorry, but nothing has been modified):

* "Document symbols successfully passing tests" - WORKS (https://github.com/itowlson/yaml-language-server/commit/29e6a21dd9d5f7f5ac3396a3c35b8f60c954ea3f)
* "Hover working with tests and removal of schemaSequence prope

[2019-08-23 01:07] squillace commented on #216
Hi @JPinkney, I'm sure you're swamped, but I wanted to tag you _only because_ you helped us submit a PR a while back. The refactor breaks about 250,000 installations of the VS Code Kube extension among others -- and we ain't mad I promise! It happens, and we do it accidentally sometimes as well.

However, I **was** hoping to find someone with whom to collaborate on fixing this. Do let us know if w

[2019-08-23 01:10] JPinkney commented on #218
Can you give some steps on how to reproduce?

When I open a folder and then paste in that YAML file it doesn't show any errors.

Are you open in a single root workspace? or a multi root workspace? or no workspace at all?

Can you also try setting `"yaml.trace.server": "verbose"` in your preferences and then paste the output logs that are found when you select `YAML Support` in the output panel:
![

[2019-08-23 01:12] JPinkney commented on #217
Can you give some steps to reproduce?

Do you have any schemas associated with the yaml file?

Can you try setting `"yaml.trace.server": "verbose"` in your preferences and then paste the output logs that are found when you select `YAML Support` in the output panel:
![image](https://user-images.githubusercontent.com/8839537/63559707-f1ed5900-c520-11e9-8ed9-bfb5e22fe52e.png)

[2019-08-23 01:26] JPinkney commented on #216
From my investigations, it looks like its because for 0.5.x we switched to using the JSON language server for validation, hover, document symbols.

Before (0.4.x and below), when the schema was getting resolved for validation and hover [this](https://github.com/redhat-developer/yaml-language-server/blob/master/src/languageservice/services/jsonSchemaService.ts#L541) would be called which integrates

[2019-08-23 01:29] squillace commented on #216
Hi @JPinkney, thanks for the quick assessment. Yeah, let's have a look on our side, and see if we can help get this working again.

[2019-08-23 04:22] itowlson commented on #216
Here is what sinks us, from the Microsoft JSON language service:

[code]

https://github.com/microsoft/vscode-json-languageservice/blob/68173c4595b662699927dd7c42cb6df1ee3f2205/src/jsonLanguageService.ts#L62

Although the JSON language service _defines_ an interface `IJSONSchemaService`, it appears to provide no way for consumers to inject their own implementation.  The YAML server implements the

[2019-08-23 04:28] itowlson commented on #216
The available extension point (without forking) is `SchemaRequestService`; is there anything we can do with this?  SRS is simply a function from a URI to, er, something - the documentation is not clear:

[code]

From usage it looks like this should fetch the schema file content, which could be implemented via the YAML extension's contributor callbacks.

[2019-08-23 05:47] itowlson commented on #216
Hello:

_Requests for schemas with URLs not handled by the [JSON language] server are forwarded to the client through an LSP request. This request is a JSON language server specific, non-standardized, extension to the LSP._

https://github.com/microsoft/vscode/blob/master/extensions/json-language-features/server/README.md#schema-content-request

Can we handle that request on the client and pump it

[2019-08-23 10:25] neta540 commented on #218
With or without workspace, pasting the example OpenAPI file from [here](https://raw.githubusercontent.com/OAI/OpenAPI-Specification/master/examples/v3.0/petstore.yaml) into vscode produces ese errors.

Here is the output with `"yaml.trace.server": "verbose"`

[code]

I tried setting with the OpenAPI schema from [here](https://github.com/OAI/OpenAPI-Specification/blob/master/schemas/v3.0/schema.jso

[2019-08-23 10:35] neta540 commented on #218
I just noticed that these errors occur only when the name of the file is `openapi.yaml`. Opening it as `petstore.yaml` is ok.

But then when setting the schema:

[code]

The errors come back.

[2019-08-23 15:03] rez0n opened #219 "Ansible autocomlete and syntax highlight"
Maybe you add Ansible autocomplete support, indentation and syntax highlight into extension, it is RedHat product too.

[2019-08-23 15:24] brentbain opened #220 "Error on Paste - Range Formatting"
Hello:

I have Visual Studio Code 1.38.0-insider and YAML 0.5.1.
Every time I paste code I receive a range formatting error in the Outputs window of the console.

I've tried opening a workspace, a folder, and an individual file - all with the same results.
I enabled YAML Server Trace and this is the output that I'm seeing right around the error message. It does not seem to matter if I'm pasting re

[2019-08-23 18:45] #219 closed

[2019-08-23 23:57] iDVB commented on #215
@JPinkney in case you want to chime in on this https://github.com/aws-scripting-guy/cform-VSCode/issues/43#issuecomment-524471904

[2019-08-26 09:06] Dylan0203 commented on #220
Every time pasted code +1

Version: 1.37.1
Commit: f06011ac164ae4dc8e753a3fe7f9549844d15e35
Date: 2019-08-15T16:16:34.800Z
Electron: 4.2.7
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Darwin x64 18.7.0
YAML 0.5.1.

[code]

[2019-08-26 13:15] JPinkney commented on #216
Just wanted to give a quick update: The only way I was able to reliably have the json language service invoke the schemaRequestHandler was by making the customSchemaProvider call right before I do a request to hover/validation. Then when I make the hover/validation request it correctly sends the custom schema request events to the client and the client sends the correct response back.

When trying

[2019-08-26 21:06] KyleMit opened #222 "Autocompletion not showing up with conditional subschemas"
The following keywords can be used to conditionally apply subschemas as of JSON v7

* `if`, `then`, `else`, `allOf`, `anyOf`, `oneOf`

The validation components seem to be working just fine, but I'm not getting any autocomplete prompts on conditional schemas

Here's a couple inlined examples and a [github repo with all the source files](https://github.com/KyleMit/YamlSchemaTestCases)

In settings,

[2019-08-27 00:15] itowlson commented on #216
Trying the VSIX now - thanks heaps for the quick fix Josh!

[2019-08-27 00:45] itowlson commented on #216
`porter-vscode` looking good

[2019-08-27 00:52] itowlson commented on #216
I think you've got a bug where a contributed schema applies to files other than what you intended it to.  For example, if I open `porter.yaml` in `porter-vscode`, you correctly show hover according to the Porter schema.  But if I then open `foo.yaml` which is some random YAML file with no particular schema association, if it happens to contain keys that match the Porter schema then the hover for t

[2019-08-27 00:55] itowlson commented on #216
There's also a bug where validation seems to kick in only when you edit or open a file.  If it's open at startup then you seem to get hover but no validation.  Not sure if this was there before.

[2019-08-27 01:17] itowlson commented on #216
The Kubernetes extension seems to be working too.

[2019-08-27 01:21] itowlson commented on #216
Longer term I wonder if the fix is to have the `schemaRequestService` (which gets passed into the JSON language service) consult the `customSchemaProvider`.  Then you don't need special handling in the hover and validation objects, and it might help avoid the issue where you're modifying the schema URI for the entire JSON language service.  But your fix is definitely shorter... and I definitely do

[2019-08-27 09:17] subzerochi commented on #220
This problem extension settings, formatting is turned off.

[2019-08-28 02:57] itowlson commented on #216
Thanks for flagging that Josh - I will take a look and get it fixed on our side. I like the sound of your new design - will try the new VSIX when I get back to a computer.

[2019-08-28 11:08] Bhuvana-Kumar opened #223 "Invalid validation of allOf"
Data
VSCode Setting
[code]
Schema
[code]
YAML
[code]

Expected
1. For Name A, 'arts' node shouldnt be allowed
2. For Name B, 'arts' node is mandatory

Result
No error in file

Note: Installed version 0.5.1

[2019-08-28 22:43] itowlson commented on #216
The latest VSIX seems to work.  I noticed that it wasn't showing hover tips for 'live' k8s resources (those viewed directly on a cluster via the k8s extension's Cluster Explorer), but that seemed to be the case in 0.4.1 as well so that's not a regression.  I _think_ the problem may be that the YAML extension only registers the `file:` and `untitled:` URL schemes with the YAML language server - 'li

[2019-08-28 22:50] squillace commented on #216
@JPinkney here, too. Thanks for all the effort.

[2019-08-29 01:28] itowlson commented on #216
@JPinkney I sent a PR (#224) re the live resources issue, but that's orthogonal to the registered custom schemas issue - don't mean to distract you from this one!

[2019-08-29 05:17] daveram commented on #181
Any movement on this?  I'm seeing the same thing for the template module now on Ansible 2.8

[2019-08-29 12:13] elierotenberg commented on #218
As mentionned in https://github.com/microsoft/vscode/issues/80029 I'm having a similar issue with relative links. This worked before a recent update so this looks like a regression!

[2019-08-29 21:42] johnrichardrinehart commented on #218
I'm also having this problem. Let me know what diagnostic information you'd require.

[2019-08-29 22:26] itowlson commented on #216
Kia ora Josh, when do you expect to be able to ship the fix?  Trying to decide whether I need to add a notification to the k8s extension advising people about the issue.

[2019-08-29 23:05] JPinkney commented on #216
The new release came out roughly 1 pm EST!

[2019-08-29 23:07] itowlson commented on #216
Doh!  In that case, belated but heartfelt thanks!

[2019-08-30 05:55] RiaanBurger commented on #181
I also found a few more places and with no solution here I just installed the Ansible extension and then switch the file type (bottom-right of Code) to Ansible in stead of YAML.

[2019-08-30 12:41] Bhuvana-Kumar commented on #223
@JPinkney I have formatted the content. Please let me know if anything else is required.

[2019-08-31 09:54] AliMD commented on #220
very very noisy issue! pleaaaassssss fix it with hotfix update for users, thank you.

[2019-08-31 10:32] JPinkney commented on #220
@AliMD What version are you on? Should already be fixed.

[2019-09-01 10:42] fmvilas commented on #220
@JPinkney I still see the bug. I'm running the latest version of VS Code on Mac and version 0.5.2 of this plugin.

**VS Code:**
[code]

**Steps to reproduce:**
1. Create new empty YAML file.
2. Type: "createOrders:" (or anything else)
3. Open another document, type and copy the following:
[code]
4. Go to first file. Place cursor at the end of `createOrders:`, hit enter and then Cmd+V.
5. Output pa

[2019-09-03 01:28] andxu commented on #192
thank @JPinkney for publish a new version.

[2019-09-03 15:19] kenankule commented on #127
I've seen this happening in an environment where my access to the json schema server is blocked (due to firewall or vpn) and "yaml.schemaStore.enable": true.
I believe the extension is trying to download some schemas from the json schema server automatically and failing.
I was able to use local schemas using the file protocol and "yaml.schemas" variable. In that case the extension worked just fine

[2019-09-04 14:29] jedrichards commented on #218
This looks like a problem in the way the validator is interpreting the `uri-reference` format, which is how `$ref` is described in the JSON Schema [meta schema](https://json-schema.org/draft-07/schema).

[code]

According to the [spec](https://json-schema.org/latest/json-schema-validation.html#rfc.section.7.3.5) `uri-reference` can either be a URI or a relative reference, but this extension isn't

[2019-09-04 14:43] jedrichards commented on #218
To be clearer, if I setup my extension settings like so

[code]

Then

[code]

[code]

[2019-09-06 07:18] joshuaavalon commented on #223
@Bhuvana-Kumar You need to use ` ``` ` to surrounding your code.

### Format
[code]

### Result

[code]

[2019-09-06 08:26] mliotinoca commented on #218
I encountered this issue with relative paths with special chars as "@"; it works with absolute paths anstead.

[code]

[2019-09-06 08:56] jedrichards commented on #218
I'm not familiar with how extensions validate JSON/yaml content against a schema. Is that heavy lifting done by code in this repo, or is it a service provided by the VS Code host app?

[2019-09-06 11:12] yves-chevallier opened #225 "Unordered sets are not recognized"
YAML files such as:

[code]

are not properly highlighted.

The following is also not recognized (from Example 2.25 of the specifications):

[code]

[2019-09-07 16:29] gchr commented on #218
It looks like yaml is validated by the 'sister' project https://github.com/redhat-developer/yaml-language-server

Maybe this issue should be reported there,too

[2019-09-09 16:07] rawkode commented on #220
@JPinkney Can we get a newer version on the VSCode market place? Currently stuck at `0.5.2`

[2019-09-09 16:46] JPinkney commented on #220
I've uploaded a beta release of the next version: https://github.com/redhat-developer/vscode-yaml/releases/tag/0.5.3-beta. If people try it out and it works I will go ahead with a release tomorrow.

[2019-09-10 12:15] jedrichards commented on #218
Done https://github.com/redhat-developer/yaml-language-server/issues/181

[2019-09-10 15:17] adoux opened #226 "Auto-completion doesn't work properly"
Hi everyone.

The auto-completion doesn't work properly for YAML files except after the first install of the extension or when I disable/enable the extension.
But as soon as I restart vscode once, the auto-completion feature doesn't work anymore.

- After disable/enable of the extension, and before restarting vscode :

![image](https://user-images.githubusercontent.com/54279741/64626208-c0fc9780-d

[2019-09-10 15:46] JPinkney commented on #226
I've just tested on my machine and I cannot reproduce the issue. Do you have a proxy? Can you show me what's in the output channel by doing view -> output -> then selecting `YAML Support` in the dropdown.

[2019-09-10 15:54] adoux commented on #226
I don't have any proxy, direct connection only, and here is the output when I try to use completion with ctrl+space :

[code]

[2019-09-10 16:06] JPinkney commented on #226
The "items" in `textDocument/completion` shouldn't be empty when autocompletion is working because addNodesToHAProxy, address, ipAddresses, etc are all values directly from that field. What's the name of the file you're working on? (Schemas from schema store are matched with the name of the file to know which files they should auto associate with, so maybe its that)

[2019-09-10 16:32] JPinkney commented on #226
What do the KO stand for? Do you mean it works okay or does it mean something else?

`to add association between .jps files and YAML language` needs to be done otherwise it guaranteed won't work

[2019-09-10 17:00] fbricon commented on #226
KO means not OK (expression used in France)

[2019-09-11 08:14] adoux commented on #226
I've just tried to completely uninstall vscode and delete every folder linked to it, so going with a fresh new instance, and the problem is still here.

I have to point out that the extension's other features are working well even after a vscode restart, validation, symbols research, etc.

[2019-09-11 17:50] forivall opened #227 "Extension causes selection operators to stop working"
I regularly use "Add selection to find next match" (<kbd>cmd+d</kbd>) and sometimes "Expand selection (<kbd>ctrl+'</kbd>), and when i have this extension enabled, they break:

By default, without selecting anything, "Add sel..." will select the current word, but when this extension is enabled, in yaml files, it does nothing.

Without this extension, expand selection will select the word, then the

[2019-09-11 18:05] #227 closed

[2019-09-11 18:07] JPinkney commented on #127
I believe I was finally able to solve the issue! It was a super simple fix too: https://github.com/redhat-developer/yaml-language-server/pull/183/files. it should be available in the next release

[2019-09-11 18:40] danielroe commented on #220
@JPinkney This still occurs for me with 0.5.3-beta.

[2019-09-11 18:47] JPinkney commented on #220
@danielroe Can you post all the contents of view -> output -> then selecting YAML Support from the dropdown?

The original problem was that rangeFormatting was being enabled dynamically when the formatter was turned on but now rangeFormatting is off no matter what. With that vsix on my end I can no longer reproduce

[2019-09-11 18:57] danielroe commented on #220
@JPinkney Apologies! Looks like it's my problem. I had to quit and start again, rather than just reload, before installing the vsix in order to get the new version. Now properly installed, it's working beautifully.

[2019-09-11 19:12] JPinkney commented on #220
@danielroe No worries! I just wanted to make sure the fix wasn't a 'works on my machine'. I'll probably release this fix this friday

[2019-09-13 19:08] #220 closed

[2019-09-13 19:58] #216 closed

[2019-09-13 20:00] #127 closed

[2019-09-16 15:49] jncornett opened #229 "Cannot set yaml.schemas if using multi-root workspaces"
Possible regression of #50

I'm using:

[code]

and VSCode-YAML version:
[code]

I have configured a multi-root workspace:

In the folder `.vscode/settings.json`, I have the following:

[code]

The setting is dimmed and hovering over it produces the message:

[code]

[2019-09-16 15:51] jncornett commented on #229
Screenshot:

<img width="1053" alt="Screen Shot 2019-09-16 at 11 45 43 AM" src="https://user-images.githubusercontent.com/1369277/64972995-3cd86300-d878-11e9-8133-bf7330a82f03.png">

[2019-09-16 15:52] jncornett commented on #229
It works if I open the folder directly (instead of in a multi-root workspace).

[2019-09-17 13:38] dfgrosso opened #230 "Autocomplete for multiple yaml objects fails"
Issue Type: <b>Bug</b>

Greetings,

Since I've updated to version 0.5 I no longer have autocomplete in yaml files with multiple ojects (ex: Service + Deployment)

Extension version: 0.4.1
VS Code version: Code 1.38.1 (b37e54c98e1a74ba89e03073e5a3761284e3ffb0, 2019-09-11T13:35:15.005Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Inte

[2019-09-17 13:51] JPinkney commented on #230
Can you please provide the schema, the yaml you were trying to auto complete, and any other vscode extensions you are running

[2019-09-17 14:01] dfgrosso commented on #230
Hello.

Sure.
My extensions:
![Anotação 2019-09-17 145956](https://user-images.githubusercontent.com/23335507/65048336-d75da280-d95b-11e9-961f-0def394b9603.png)

My yaml:

[backoffice-redis.zip](https://github.com/redhat-developer/vscode-yaml/files/3621708/backoffice-redis.zip)

[2019-09-18 14:18] #226 closed

[2019-09-18 14:20] adoux commented on #226
I couldn't tell why, but I can't reproduce the issue, maybe thanks to the last updates of vscode or YAML plugin.

Thanks a lot anyway for your help !

[2019-09-18 14:23] JPinkney commented on #226
No worries! I'm glad to help!

[2019-09-18 14:26] JPinkney commented on #230
Which version of the 0.5 series were you updating to? 0.5.0, 0.5.1, all had https://github.com/redhat-developer/vscode-yaml/issues/216 issue where autocompletion wasn't working.

It is most likely an issue with the kubernetes extension regardless though, as they contribute the schema to this extension

[2019-09-18 15:10] dfgrosso commented on #230
Hi.

I've tried all the 0.5 minors up to 0.5.3

Thank u.

Regards,
Daniel

[2019-09-18 15:18] JPinkney commented on #230
Then you'll probably want to file an issue https://github.com/Azure/vscode-kubernetes-tools because it seems like an issue with the schema

[2019-09-18 20:37] vrachels opened #231 "Schemas using file refs do not live update when definition is changed"
using a schema with "$ref" and file references can result in filewatcher updates not properly updating the schema verification if the ref in a file is updated.

tl;dr: File Ref definitions are being locally cached in each schema, and are not being updated when the dependency is updated.

Minimal repro:
yaml.schemas adds test.json
test.json has a "definitions" { ... } section which contains the loc

[2019-09-24 02:36] adelwin commented on #127
@JPinkney sorry, when you say "next release" is exactly which release of vscode?

[2019-09-25 08:29] ohmyaddpub commented on #206
And if you press tab after completion, it can work too

[2019-09-30 17:25] #218 closed

[2019-09-30 17:43] JPinkney commented on #218
The fix for this will be available in the next release

[2019-10-02 16:36] joshuaavalon commented on #212
@JPinkney I think it is fixed.

[2019-10-02 16:36] #212 closed

[2019-10-04 17:05] jghal commented on #110
This is still an issue for me on Amazon Linux 2. But using same version of WSL and YAML plugin on Windows 10 or Windows 10 Remote to WSL Ubuntu 18.04 I don't see the issue.

VSCode 1.38.1
YAML plugin 0.5.3

[2019-10-08 08:27] phifa opened #232 "FEATURE: Trailing comma"
So instead of `tags: [update_vars]` we would get `tags: [update_vars, ]`. Right now they are eliminated. An option to disable the removing would already be helpful.

[2019-10-15 14:28] JonathanWolfe opened #233 "Not processing YAML before sending for validation"
I was getting some strange errors from my `.gitlab-ci.yml` about how `"Property << is not allowed"` when I realized that for validation the plugin is sending the raw document for validation, not the processed document (allowing for merges and such to be done).

#### Example that incorrectly throws validation errors:
[code]

[2019-10-16 20:19] rickstaa opened #234 "Stop formatter from line warpping !include tag"
As I saw the extension supports custom tags ([see #76](https://github.com/redhat-developer/vscode-yaml/issues/76)) I was wondering if there is a way to stop the formatter from formatting these custom tags? I currently use the [PyYaml](https://pypi.org/project/PyYAML/) `!include` in my .yaml file but the formatter keeps removing the linebreak (See gif below). I tried to add the tags I used to the c